{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}{{sesion.nombre}} {% endblock %}
{% block contenido %}
    <h3 class="t1">Sesión privada: {{sesion.nombre}}</h3>
    <div id="sesiondat">
        <div id="sesionfot" style="margin-top: 14px;">
            <img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block" style="width: 50%; margin-bottom: 1%" />        
        </div>

        {% if sesion.estado == "validada" %}
            <div class="accionesesion text-center">
                <a href="{{path('modulomonitores_monitores_solEliminarSesionDedicada', {id: sesion.id})}}" style="height: 30px; width: 600px;" class="btn btn-danger">Solicitar eliminar sesion dedicada</a> 
            </div>
        {% elseif sesion.estado == "solEliminar" %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-danger" disabled="disabled">Solicitud de eliminacion enviada</button>
                <h4>Motivos:</h4> <p>{{sesion.motivos}}</p>
            </div>   
        {% elseif sesion.estado == "cancelada" %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-danger" disabled="disabled">Cancelada</button>
                <h4>Motivos:</h4> <p>{{sesion.observaciones}}</p>
            </div>
        {% elseif sesion.estado == "rechazada" %}
            <div class="text-center">
                <a href="{{path('modulomonitores_monitores_editarSesionDedicada', {id: sesion.id})}}" style="height: 30px; width: 250px;" class="btn btn-primary">Modificar sesion dedicada</a>
                {{ include('modulomonitoresmonitoresBundle:Default:forms/form.html.twig', { form: delete_form })}}
                <h4>Motivos:</h4> <p>{{sesion.observaciones}}</p>
            </div>
        {% else %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-warning" disabled="disabled">pendiente</button>
            </div>
        {% endif %}

        <div class="row">
            <div id="colizq" class="col-md-4 col-md-offset-3" >
                <h4>Aula de la sesión: {{aula.nombre}}</h4>
                <h4>Monitor: {{sesion.monitor}}</h4>
                <h4>Ejercicios a realizar: {{sesion.ejercicios}}</h4>
                <h4>Repeticiones por cada ejercicio: {{sesion.repeticiones}} por ejercicio</h4>
                {% if sesion.estado == "validada" %}
                    <h4>Horario: <a href="{{path('modulomonitores_monitores_verHorario', {id: sesion.id})}}" style="height: 30px; width: 100px;" class="btn btn-primary">Ver Horario</a> </h4>
                {% endif %}
                <h4>Duración de cada sesión: {{sesion.duracion}} minutos</h4>
                <h4>Descanso entre ejercicios: {{sesion.descanso}} minutos</h4>

                <h4>Objetivo de la sesión: {{sesion.objetivo}}</h4>
                {% if sesion.nClientes > 0 %}
                    <h4>Participante: {{sesion.cliente}} 
                        <a href="{{path('modulomonitores_monitores_verParticipantes', {id: sesion.id})}}" style="height: 30px; width: 130px;" class="btn btn-primary">Ver participantes</a> </h4> 
                    {% endif %}
            </div>
        </div>

    {% endblock %}