{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}Vista de {{sesion.cliente}}/{{sesion.nombre}} {% endblock %}
{% block contenido %}
    <div class="text-center">
        <h3>
            Sesion {{sesion.id}}: {{sesion.cliente}}
            <small class="text-muted">{{sesion.nombre}}</small>
        </h3>
    </div>

    <div id="sesiondat">
        <div id="sesionfot" style="margin-top: 14px;">
            <img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block" />        
        </div>

        {% if sesion.estado == "validada" %}
            <div class="accionesesion text-center">
                <a href="{{path('modulomonitores_monitores_solEliminarSesionDedicada', {id: sesion.id})}}" style="height: 30px; width: 600px;" class="btn btn-danger">Solicitar eliminar sesion dedicada</a> 
            </div>
        {% elseif sesion.estado == "solEliminar" %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-danger" disabled="disabled">Solicitud de eliminacion enviada</button>
                <h4>Motivos:</h4> <p>{{sesion.motivos}}</p>
            </div>   
        {% elseif sesion.estado == "cancelada" %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-danger" disabled="disabled">Cancelada</button>
                <h4>Motivos:</h4> <p>{{sesion.observaciones}}</p>
            </div>
        {% elseif sesion.estado == "rechazada" %}
            <div class="text-center">
                <a href="{{path('modulomonitores_monitores_editarSesionDedicada', {id: sesion.id})}}" style="height: 30px; width: 250px;" class="btn btn-primary">Modificar sesion dedicada</a>
                {{ include('modulomonitoresmonitoresBundle:Default:forms/form.html.twig', { form: delete_form })}}
                <h4>Motivos:</h4> <p>{{sesion.observaciones}}</p>
            </div>
        {% else %}
            <div class="text-center">
                <button style="height: 30px; width: 600px;" class="btn btn-warning" disabled="disabled">pendiente</button>
            </div>
        {% endif %}

        <div class="row">
            <div id="colizq" class="col-md-4 col-md-offset-3" >
                <h4>Monitor:</h4> <p>{{sesion.monitor}}</p>
                <h4>Ejercicios:</h4> <p>{{sesion.ejercicios}}</p>
                <h4>Repeticiones:</h4> <p>{{sesion.repeticiones}} por ejercicio</p>
            </div>
            <div id="colder" class="col-md-4">
                <h4>Tiempo estimado:</h4> <p>{{sesion.duracion}} minutos</p>
                <h4>Descanso entre ejercicios:</h4> <p>{{sesion.descanso}} minutos</p>
                <h4>Objetivo:</h4> <p>{{sesion.objetivo}}</p>
            </div>
        </div>
    </div>

{% endblock %}