{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}{{sesion.nombre}} {% endblock %}
{% block contenido %}
    <h3 class="t1">Sesión privada: {{sesion.nombre}}</h3>

    <div id="sesiondat">
        <div id="sesionfot" style="margin-top: 14px;">
            <img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block" style="width: 50%; margin-bottom: 1%" />        
        </div>
        <div class="row">
            <div id="colizq" class="col-md-4 col-md-offset-3" >
                <h4>Aula de la sesión: {{aula.nombre}}</h4>
                <h4>Monitor: {{sesion.monitor}}</h4>
                <h4>Ejercicios a realizar: {{sesion.ejercicios}}</h4>
                <h4>Repeticiones por cada ejercicio: {{sesion.repeticiones}} por ejercicio</h4>
                <h4>Horario: <a href="{{path('modulomonitores_monitores_verHorario', {id: sesion.id})}}" style="height: 30px; width: 100px;" class="btn btn-primary">Ver Horario</a> </h4>
                <h4>Duración de cada sesión: {{sesion.duracion}} minutos</h4>
                <h4>Descanso entre ejercicios: {{sesion.descanso}} minutos</h4>

                <h4>Objetivo de la sesión: {{sesion.objetivo}}</h4>
            </div>
    </div>
    </div>

{% endblock %}