{# empty Twig template #}
{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}

{% block title %} Vista de sesiones dedicadas {% endblock %}            
{% block contenido %}
    <div class="container">
        <h1 class="t1">Listado de sesiones de dedicadas</h1>
        {% for sesion in sesiones %}
            {% if sesion.cliente!="normal" %}
                <a href="{{url('modulomonitores_monitores_sesionDedicada', {'id': sesion.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> Sesion {{ sesion.id }}: {{ sesion.cliente }}/{{ sesion.nombre }} - {{ sesion.estado}} </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}