{# empty Twig template #}
{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}

{% block title %} Vista de entrenamiento {% endblock %}            
{% block contenido %}

<h1>Listado de Entrenamiento</h1>
{% for sesion in sesiones %}
    <a href="{{url('modulomonitores_monitores_sesionMonitores', {'matricula': sesion.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ sesion.matricula }} - {{ sesion.nombre }} - {{ sesion.estado}} </a>
{% endfor %}

{% endblock %}