{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}Vista de solicar eliminacion sesion{% endblock %}
{% block contenido %}
<h2>Solicitar la eliminacion de la sesion</h2>
    
  {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
                
                
                
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.cliente) }}
                    {{ form_widget(form.cliente, {'attr': {'class': 'form-control', 'placeholder' : 'Si no es dedicada dejelo vacio'}}) }}
                    <span class="text-danger">{{ form_errors(form.cliente) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder' : 'Introduzca nombre de la sesion'}}) }}
                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.imagen) }}
                    {{ form_widget(form.imagen, { 'attr' : {'class' : 'form-control', 'placeholder' : 'imagen'} }) }}
                    <span class="text-danger">{{ form_errors(form.imagen) }}</span>
                </div>
                            
                <div class="form-group" style="display:none;">
                    {{ form_label(form.ejercicios) }}
                    {{ form_widget(form.ejercicios, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca ejercicios de la sesion'} }) }}
                    <span class="text-danger">{{ form_errors(form.ejercicios) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.repeticiones) }}
                    {{ form_widget(form.repeticiones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca las repeticiones'} }) }}
                    <span class="text-danger">{{ form_errors(form.repeticiones) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.duracion) }}
                    {{ form_widget(form.duracion, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca la duracion de la sesionjoin'} }) }}
                    <span class="text-danger">{{ form_errors(form.duracion) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.descanso) }}
                    {{ form_widget(form.descanso, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el descanso entre ejercicios'} }) }}
                    <span class="text-danger">{{ form_errors(form.descanso) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    <p>Limite de clientes</p>
                    {{ form_widget(form.lClientes, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el limite de participantes'} }) }}
                    <span class="text-danger">{{ form_errors(form.lClientes) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.objetivo) }}
                    {{ form_widget(form.objetivo, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el objetivo de la sesion'} }) }}
                    <span class="text-danger">{{ form_errors(form.objetivo) }}</span>
                </div>
                
                <div class="form-group" style="display:none;">
                    {{ form_label(form.observaciones) }}
                    {{ form_widget(form.observaciones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Motivos de cancelación'} }) }}
                    <span class="text-danger">{{ form_errors(form.observaciones) }}</span>
                </div>
                
                <div class="form-group">
                    {{ form_label(form.motivos) }}
                    {{ form_widget(form.motivos, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Motivos de eliminacion'} }) }}
                    <span class="text-danger">{{ form_errors(form.motivos) }}</span>
                </div>

		    <p>
		        {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
		    </p>                
                    
                {{ form_end(form) }}
{% endblock %}