{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}Nueva sesión pública{% endblock %}
{% block contenido %}
    <div class="container center-block">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h1 class="t1">Nueva sesión pública</h1>                       
            </div>

            {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
            <div class="panel-body">
                <form role="form">
                    <div style="display:none;">
                        {{ form_label(form.cliente) }}
                        {{ form_widget(form.cliente, {'attr': {'class': 'form-control', 'placeholder' : 'Si no es dedicada dejelo vacio'}}) }}
                        <span class="text-danger">{{ form_errors(form.cliente) }}</span>

                        {{ form_label(form.imagen) }}
                        {{ form_widget(form.imagen, { 'attr' : {'class' : 'form-control', 'placeholder' : 'imagen'} }) }}
                        <span class="text-danger">{{ form_errors(form.imagen) }}</span>

                        {{ form_label(form.observaciones) }}
                        {{ form_widget(form.observaciones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Motivos de cancelación'} }) }}
                        <span class="text-danger">{{ form_errors(form.observaciones) }}</span>   

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Nombre de la sesión</label>
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder' : 'Introduzca nombre de la sesión'}}) }}
                            <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" > 
                            <label>Número total de sesiones</label>
                            {{ form_widget(form.nSesiones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el número total de sesiones'} }) }}
                            <span class="text-danger">{{ form_errors(form.nSesiones) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label>Ejercicios a realizar</label>
                            {{ form_widget(form.ejercicios, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca los ejercicios a realizar'} }) }}
                            <span class="text-danger">{{ form_errors(form.ejercicios) }}</span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Objetivo de la sesión</label>
                            {{ form_widget(form.objetivo, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el objetivo de la sesión'} }) }}
                            <span class="text-danger">{{ form_errors(form.objetivo) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Descanso entre ejercicios (segundos)</label>
                            {{ form_widget(form.descanso, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el descanso entre ejercicios'} }) }}
                            <span class="text-danger">{{ form_errors(form.descanso) }}</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Repeticiones por cada ejercicio </label>
                            {{ form_widget(form.repeticiones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca las repeticiones a realizar'} }) }}
                            <span class="text-danger">{{ form_errors(form.repeticiones) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Duración de cada sesión (minutos)</label>
                            {{ form_widget(form.duracion, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca la duracion de cada sesión'} }) }}
                            <span class="text-danger">{{ form_errors(form.duracion) }}</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                            <label>Limite de participantes</label>
                            {{ form_widget(form.lClientes, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca el limite de participantes'} }) }}
                            <span class="text-danger">{{ form_errors(form.lClientes) }}</span>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label>Seleccione la hora de comienzo</label> 
                            {{ form_widget(form.horaComienzo, { 'attr' : {'class' : 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.horaComienzo) }}</span><br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label>Seleccione el día de comienzo</label> 
                            {{ form_widget(form.fechaInicio, { 'attr' : {'class' : 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.fechaInicio) }}</span><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label>Seleccione un aula para realizar la sesión</label> {{ form_widget(form.aula) }} 
                            <span class="text-danger">{{ form_errors(form.aula) }}</span><br>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label>Seleccione los días de la sesión</label> 
                            {{ form_widget(form.dias) }}
                            <span class="text-danger">{{ form_errors(form.dias) }}</span><br>
                        </div>
                    </div>
                </form><br>

                <div class="text-center">
                    {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
                    <form class="alinear" action="{{ path("modulomonitores_monitores_misSesionesMonitores") }}">
                        <button type="submit" class="btn btn-danger" >Cancelar</button>
                    </form>
                </div>
                {{ form_end(form) }}                   
            </div>
        </div>
    </div>
{% endblock %}