{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %} {{cancha.tipo}} {% endblock %}
{% block contenido %}
    {{ include('CriveroPruebaBundle:Default:messages/success.html.twig') }}
    <div class="container text-center">
        <h1 class="t1 page-header">Cancha {{cancha.tipo}}</h1><br>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="{{ asset(cancha.imagen) }}" class="img-responsive center-block" style="max-width: 340px; margin-bottom:5px"/>
                {% if cancha.disponibilidad == "Disponible" %}
                    <button class="btn btn-success active" style="width: 340px">{{cancha.disponibilidad}}</button>
                {% else %}
                    <button class="btn btn-danger active" style="width: 340px">{{cancha.disponibilidad}}</button>
                {% endif %}
            </div>


            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0"> 
                <div class="panel panel-default">                  
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Horario </h4> <p>{{cancha.horario}}</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Deporte </h4><p>{{cancha.deporte}}</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Dimensiones </h4><p>{{cancha.dimensiones}} m²</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Valoración </h4>
                                {% if cancha.valoracion|round (0, 'common') != 0 %}
                                    {% for i in 1..cancha.valoracion|round (0, 'common') %}
                                        <img src="{{asset('images/star-icon.png')}}" style="width: 18px;" />
                                    {% endfor %}
                                {% else %}
                                    <p>Sin valoraciones</p>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h4>Dirección </h4><p>{{cancha.direccion}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="" style="margin-bottom: 10px;margin-top: 10px">
                        <form style="margin-right: -2px" action="{{ path('crivero_prueba_cancha_disponibilidad', { id: cancha.id }) }}" method="post" class="alinear btn-group">
                            <button type="submit" class="btn btn-primary">Disponibilidad</button>
                            <input type="hidden" class="btn">
                        </form>
                        <form style="margin-left: -2px; margin-right: -2px" action="{{ path('crivero_prueba_cancha_editar', { id: cancha.id }) }}" method="post" class="alinear btn-group">
                            <input type="hidden" class="btn">
                            <button type="submit" class="btn btn-warning">Editar cancha</button>
                            <input type="hidden" class="btn"> 
                        </form>
                        <form style="margin-left: -2px" action="{{ path('crivero_prueba_cancha_reservas', { id: cancha.id }) }}" method="post" class="alinear btn-group">
                            <input type="hidden" class="btn">
                            <button type="submit" class="btn btn-success">Ver reservas</button>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar cancha" })}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}