{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Nueva Cancha {% endblock %}

{% block contenido %}

    <div class="container">

        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="t3">Nueva Cancha</h3>
                </div>
                {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    {{ form_widget(form.tipo, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre de cancha'} }) }}
                                    <span class="text-danger">{{ form_errors(form.tipo) }}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.deporte) }}
                                    {{ form_widget(form.deporte, {'attr': {'class': 'form-control'}}) }}
                                    <span class="text-danger">{{ form_errors(form.deporte) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.disponibilidad) }}
                                    {{ form_widget(form.disponibilidad, {'attr': {'class': 'form-control'}}) }}
                                    <span class="text-danger">{{ form_errors(form.disponibilidad) }}</span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.horario) }}
                                    {{ form_widget(form.horario, {'attr': {'class': 'form-control', 'placeholder' : '00:00-23:59'}}) }}
                                    <span class="text-danger">{{ form_errors(form.horario) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.direccion) }}
                                    {{ form_widget(form.direccion, {'attr': {'class': 'form-control', 'placeholder' : 'dirección cancha'}}) }}
                                    <span class="text-danger">{{ form_errors(form.direccion) }}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.dimensiones) }}
                                    {{ form_widget(form.dimensiones, {'attr': {'class': 'form-control', 'placeholder' : 'Inserta una cifra'}}) }}
                                    <span class="text-danger">{{ form_errors(form.dimensiones) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.imagen) }}
                            {{ form_widget(form.imagen) }}
                            <span class="text-danger">{{ form_errors(form.imagen) }}</span>
                        </div>

                    </form>
                    <div class="text-center">
                        {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>               
        </div>
    </div>           

{% endblock %}