{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %}Reserva de {{reserva.cancha}} {% endblock %}
{% block contenido %}
    <div id="sesiondat" class="container text-center">
        <div class="page-header">    
            <h1 class="t1">Reserva de la cancha {{cancha.tipo}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="text-center">
                    <img src="{{ asset(cancha.imagen) }}" class="img-responsive center-block" style="max-width: 340px; margin-bottom:20px"/>
                </div><br>
                {% if reserva.estadoReserva == 'Reservado' %}
                    {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Cancelar reserva" })}}
                {% else %}
                    {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Cancelada (Pulsar para descartar reserva)" })}}
                    {% if reserva.motivos != null %}
                        <h4 class="terr">{{reserva.motivos}}</h4>
                    {% endif %}
                {% endif %}      
            </div>                      

            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
                <div class="panel panel-default">                  
                    <div class="panel-body">
                        <div class="row">
                            <h4>Fecha reserva </h4>
                            <p>El día {{reserva.fechaInicio|date('d/m/Y')}} de 
                                {% set horario = reserva.horario|split('&') %} 
                                {% if horario|length > 2 %}
                                    {% set horarioFinal1 = horario[0]|split('-') %} 
                                    {% set horarioFinal2 = horario[horario|length - 2]|split('-') %} 
                                    {{horarioFinal1[0]}}-{{horarioFinal2[horarioFinal2|length - 1]}}
                                {% else %}
                                    {{horario[0]}}</p>
                                {% endif %}
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Deporte </h4><p>{{cancha.deporte}}</p>
                            </div> 
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Dimensiones </h4><p>{{cancha.dimensiones}} m²</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Valoracion </h4>
                                {% for i in 1..cancha.valoracion|round (0, 'common') %}
                                    <img src="{{asset('images/star-icon.png')}}" style="width: 18px;" />
                                {% endfor %}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h4>Dirección </h4><p>{{cancha.direccion}}</p>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{{path('moduloclientes_cliente_valorar', {'id': reserva.id})}}" class="btn btn-primary" style="height: 30px; width: 150px;"> Valorar cancha </a>
                    </div><br>
                </div>
            </div>
            <a class="btn btn-default" href="{{ path('moduloclientes_cliente_reservasClientes') }}">Volver atrás</a>
        </div>
        {% endblock %}