{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %}Reserva de {{reserva.cancha}} {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <h1 class="t1">Detalles de Reserva</h1>
        <h3 class="t3">{{reserva.cancha}}</h3>
  
        <div class="container row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="{{ asset(cancha.imagen) }}" width="180px" class="img-rounded"/><br>
                </div><br>

                <div class="text-center">
                    {% if reserva.estadoReserva == 'Reservado' %}
                        {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Cancelar reserva" })}}
                    {% else %}
                        <a  href="{{ path('crivero_prueba_cliente', { id: reserva.id }) }}" class="btn btn-danger">
                            Cancelada(pulsa para descartar reserva)
                        </a>
                        {% if reserva.motivos != null %}
                            <div >
                                <h4>Motivos:</h4>
                                <p>{{reserva.motivos}}</p>
                            </div>
                        {% endif %}
                    {% endif %}      
                </div>        
            </div>                      

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <label class="control-label span7 text-left">Fecha reserva: </label>
                    <label>{{reserva.fechaInicio|date('d/m/Y')}}</label>
                    {% set horario = reserva.horario|split('&') %} 
                    {% if horario|length > 2 %}
                        {% set horarioFinal1 = horario[0]|split('-') %} 
                        {% set horarioFinal2 = horario[horario|length - 2]|split('-') %} 
                        <label>{{horarioFinal1[0]}}-{{horarioFinal2[horarioFinal2|length - 1]}} </label>
                    {% else %}
                        <label>{{horario[0]}}</label>
                    {% endif %}
                </div>

                <div class="text-center">
                    <label class="control-label span7 text-left">Deporte: </label>
                    <label class=" text-right">{{cancha.deporte}}</label>
                </div> 

                <div class="text-center">
                    <label class="control-label span7 text-left">Dimensiones: </label>
                    <label class="control-label span7 text-right">{{cancha.dimensiones}} m²</label>
                </div>

                <div class="text-center">
                    <label class="control-label span7 text-left">Valoracion: </label>
                    <label class=" text-right">5.0</label>
                </div>

                <div class="text-center">
                    <label class="control-label span7 text-left">Dirección: </label>
                    <label class="control-label span7 text-right">{{cancha.direccion}}</label>
                </div><br>

                <div class="text-center">
                    <a href="{{path('moduloclientes_cliente_escribirSugerencia', {'id': cancha.id})}}" class="btn btn-primary" style="height: 30px; width: 150px;"> Valorar cancha </a>
                </div><br>
            </div>
        </div>
    </div>
{% endblock %}