{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %}Vista de {{cancha.tipo}} {% endblock %}
{% block contenido %}
    <h1 class="t1">Detalles de la cancha</h1>   
    <div class="container text-center">

        <h3 class="t3">{{cancha.tipo}}</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="{{ asset(cancha.imagen) }}" class="img-responsive center-block" style="max-width: 340px; margin-bottom:20px"/>
                {% if cancha.disponibilidad == "Disponible" %}
                    <a href="{{path('moduloclientes_cliente_nuevaReserva', {'id': cancha.id})}}" class="btn btn-primary" style="height: 30px; width: 150px;"> Reservar </a>
                {% else %}
                    <button class="btn btn-danger">Reservada</button>
                {% endif %}
            </div>

            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0"> 
                <div class="panel panel-default">                  
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Horario: </h4> <p>{{cancha.horario}}</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Deporte: </h4><p>{{cancha.deporte}}</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <h4>Dimensiones: </h4><p>{{cancha.dimensiones}} m²</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Valoracion: </h4><p>{{cancha.valoracion|round (0, 'common')}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h4>Dirección: </h4><p>{{cancha.direccion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{{path('moduloclientes_cliente_escribirSugerencia', {'id': cancha.id})}}" class="btn btn-primary" style="height: 30px; width: 150px;"> Escribir sugerencia </a>
                </div><br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
                <h3 class="t3 text-center">Horarios disponibles de los próximos 7 días</h3>               
                <table class="table {#table-condensed#}">
                    <tbody>
                        {% for horario in horarios  %}
                            <tr>
                                <th>Día {{ horario.fechaInicio|split('-')[0] }}</th>
                                    {% for horitas in horario.periodo|split('&')  %}
                                    <td>{{ horitas }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                    
    </div>
{% endblock %}