{# empty Twig template #}
{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de entrenamiento {% endblock %}

{% block contenido %}
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                 <h1 class="t1">Mis sesiones</h1>
            </div>
            {% for sesion in sesiones %}
                {% if (sesion != NULL) %}
                    {% if (sesion.estado == 'cancelada') %}
                        {% set estado = 'Cancelada' %}
                    {% else %}
                        {% set estado = 'Apuntado' %}
                    {% endif %}

                    <a href="{{url('moduloclientes_cliente_miSesionClientes', {'id': sesion.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> Sesion {{sesion.id}}: {{ sesion.nombre }} - {{ estado }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}





