{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Pago Sesion {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 class="t1">Pago suscripción</h1>
            </div>

            {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
            <div class="hidden">
                {{ form_label(form.idCliente) }}
                {{ form_widget(form.idCliente, { 'attr' : {'class' : 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.idCliente) }}</span>
            </div>

            <div class="hidden">
                {{ form_label(form.fechaPago) }}
                {{ form_widget(form.fechaPago, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.fechaPago) }}</span>
            </div>
            <div class="hidden">
                {{ form_label(form.cuantia) }}
                {{ form_widget(form.cuantia, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Cantidad a pagar'} }) }}
                <span class="text-danger">{{ form_errors(form.cuantia) }}</span>
            </div>

            <div class="panel-body">  
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        {{ form_label(form.tipoSuscripcion) }}
                        {{ form_widget(form.tipoSuscripcion, {'attr': {'class': 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(form.tipoSuscripcion) }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                        {{ form_label(form.tipoPago) }}
                        {{ form_widget(form.tipoPago, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Tipo de pago'} }) }}
                        <span class="text-danger">{{ form_errors(form.tipoPago) }}</span>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><br>
                        {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}