{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Sesiones públicas {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Sesiones públicas</h1>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron sesiones</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nombre', 's.nombre') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Estado', 's.estadoCliente') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Monitor', 's.monitor') }}</th>
                                    <th><div class="hidden-xs">{{ knp_pagination_sortable(pagination, 'Objetivo', 's.objetivo') }}</div></th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sesion in pagination %}
                                    <tr data-id="{{ sesion.id }}">
                                        <td><img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block " style="max-width: 50px;height: 45px"/></td>
                                        <td>{{sesion.nombre}}</td>
                                        {% if sesion.estadoCliente == 'disponible' %}
                                            <td>Disponible</td>
                                        {% else %}
                                            <td><font color="red">{{sesion.estadoCliente|capitalize}}</font></td>
                                        {% endif %}
                                        <td>{{sesion.monitor}}</td>
                                        <td><div class="hidden-xs">{{sesion.objetivo}}</div></td>
                                        <td class="actions">
                                            <a href="{{ path('moduloclientes_cliente_sesionClientes', { id: sesion.id }) }}" class="btn btn-sm btn-info noMargenBoton">
                                                Ver
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}        
                <div>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>                     
        </div>                     
    </div>                                
{% endblock %}