{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %}Sesión - {{sesion.nombre}} {% endblock %}
{% block contenido %}

    <div id="sesiondat" class="container text-center">
        <div class="page-header">    
            <h1 class="t1">Sesión - {{sesion.nombre}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center" >
                <img src="{{ asset(sesion.imagen) }}" style="max-width: 350px; margin-bottom:20px; margin-right: 0"/>        
                {% if sesion.estado == "cancelada" %}
                    <h4 class="terr">Motivo de cancelación: {{sesion.observaciones}}</h4>   
                {% endif %}
            </div>

            <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 text-center" >
                <div class="panel panel-default">                  
                    <div class="panel-body">                   
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Repeticiones</h4> <p>{{sesion.repeticiones}} por ejercicio</p>
                            <h4>Estado</h4> <p>{{sesion.estadoCliente|capitalize}}</p>
                            <h4>Objetivo</h4> <p>{{sesion.objetivo}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Tiempo estimado</h4> <p>{{sesion.duracion}} minutos</p>
                            <h4>Descanso entre ejercicios</h4> <p>{{sesion.descanso}} minutos</p>
                            <h4>Ejercicios</h4> <p>{{sesion.ejercicios}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4>Monitor</h4> 
                            <a href="{{path('moduloclientes_cliente_verMonitor', {id: sesion.idMonitor})}}" 
                               class="btn btn-success text-center center-block img-responsive" style="width: 180px;">{{sesion.monitor}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if sesion.estadoCliente == "disponible" %}
            <a href="{{path('moduloclientes_cliente_sesionesClientes_apuntarse', {id: sesion.id})}}" 
               class="btn btn-primary text-center center-block img-responsive" style="width: 180px;">Apuntarse <span class="glyphicon glyphicon-pencil"></span></a>
        {% elseif sesion.estadoCliente == "Completo" %}
            <button class="btn btn-danger text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Completo</button>
        {% elseif sesion.estadoCliente == "cancelada" %}
            <button class="btn btn-danger text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Cancelada</button>
        {% elseif sesion.estado == "terminada" %}
            <button class="btn btn-warning text-center center-block img-responsive" style="width: 180px;" disabled>Sesión terminada</button>
        {% elseif sesion.estado == "suspendida" %}
            <button class="btn btn-danger text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Suspendida</button>
        {% endif %}<br>
        {% if app.request.headers.get('referer') %}
            <a class="btn btn-default" href="{{ path('moduloclientes_cliente_sesionesClientes') }}">Volver atrás</a>
        {% endif %}
    </div>
{% endblock %}