{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %}Vista de {{sesion.nombre}} {% endblock %}
{% block contenido %}

    <h1 class="t1">Sesion {{sesion.id}}</h1>
    <h3 class="t1">{{sesion.nombre}}</h3>    

    <div id="sesiondat" class="container">
        <div id="sesionfot" style="margin-top: 14px;">
            <img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block" style="width: 400px; margin-bottom: 1%"" />     
        </div>
        {% if sesion.estadoCliente == "disponible" %}
            <div class="accionesesion text-center">
                <a href="{{path('moduloclientes_cliente_sesionesClientes_apuntarse', {id: sesion.id})}}" 
                   class="btn btn-primary text-center center-block img-responsive" style="height: 30px; width: 400px;">Apuntarse <span class="glyphicon glyphicon-pencil"></span></a>
            </div>

        {% elseif sesion.estadoCliente == "completo" %}
            <div class="accionesesion text-center">
                <button class="btn btn-danger text-center center-block img-responsive" style="height: 30px; width: 400px;" disabled="disabled">Completo</button>
            </div>

        {% elseif sesion.estadoCliente == "cancelada" %}
            <div class="accionesesion text-center">
                <button class="btn btn-danger text-center center-block img-responsive" style="height: 30px; width: 400px;" disabled="disabled">Cancelada</button>
            </div>
            
            <div class="row">
                {% if sesion.estado == "cancelada" %}
                    <div class="text-center">
                    <h3 class="terr">Motivo de cancelación:</h3> 
                    <p>{{sesion.observaciones}}</p>   
                {% endif %}
            </div>
            
        {% endif %}

        <div class="row">
            <div id="colizq" class="col-md-4 col-md-offset-3" >
                <h4>Monitor:</h4> <p>{{sesion.monitor}}</p>
                <h4>Ejercicios:</h4> <p>{{sesion.ejercicios}}</p>
                <h4>Repeticiones:</h4> <p>{{sesion.repeticiones}} por ejercicio</p>
            </div>
            <div id="colder" class="col-md-4">
                <h4>Tiempo estimado:</h4> <p>{{sesion.duracion}} minutos</p>
                <h4>Descanso entre ejercicios:</h4> <p>{{sesion.descanso}} minutos</p>
                <h4>Objetivo:</h4> <p>{{sesion.objetivo}}</p>
            </div>
        </div>
    </div>

{% endblock %}