{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Detalles de la competicion {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <h1 class="t1">Deporte de la competición: {{competicion.deporte}}</h1>
        <h3 class="t3">Tipo de la competición: {{competicion.tipoCompeticion}}</h3>
        {% if competicion.estadoCompeticion == "Pendiente" %}
            <a href="{{path('crivero_prueba_competicion_validar', {id: competicion.id})}}" class="btn btn-success">
                Validar
            </a>
            <a href="{{path('crivero_prueba_competicion_rechazar', {id: competicion.id})}}" class="btn btn-sm btn-danger">
                Rechazar
            </a>
        {% endif %}
        {% if competicion.estadoCompeticion == "Rechazado" %}
            <a href="{{path('crivero_prueba_competicion_validar', {id: competicion.id})}}" class="btn btn-success">
                Validar
            </a>
         {% endif %}
         {% if competicion.estadoCompeticion == "Validado" %}
             <table class="table-responsive">
                <div class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Equipos inscritos por el momento  |</th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
             {% for equipo in equipos if equipo.idCompeticion ==competicion.id %}
                 <tr>
                    <td>   {{equipo.nombre}}    </td>
                    <td>
                        <a href="{{ path('crivero_prueba_equipo', { id: equipo.id }) }}" class="btn btn-sm btn-info">
                            Ver
                        </a>
                        <a href="#" class="btn btn-sm btn-danger btn-delete">
                            Eliminar
                        </a>
                    </td>
                </tr>
             {%endfor%}
             <a href="{{ path('crivero_prueba_partido_nuevo', { id: competicion.id }) }}" class="btn btn-success" style="height: 30px; width: 150px;">
                Nuevo Partido
            <span class="glyphicon glyphicon-plus"></span></a>
            
            <a href="{{path('crivero_prueba_competicion_cancelar', {id: competicion.id})}}" class="btn btn-sm btn-danger">
                Cancelar Competición
            </a>
         {% endif %}
        {% if competicion.estadoCompeticion == "Jugandose"%}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Posición </th>
                            <th> Equipo  </th>
                            <th> Puntos   </th>
                            <th> Victorias </th>
                            <th> Derrotas </th>
                            <th> Empates  </th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
                    {% for equipo in equipos if equipo.idCompeticion ==competicion.id %}
                            <tr>
                                <td>   {{equipo.clasificacion}}º  </td>
                                <td>   {{equipo.nombre}}    </td>
                                <td>   {{equipo.puntuacion}}   </td>
                                <td>   {{equipo.victorias}}   </td>
                                <td>   {{equipo.derrotas}}   </td>
                                <td>   {{equipo.empates}}   </td>
                                <td>
                                    <a href="{{ path('crivero_prueba_equipo', { id: equipo.id }) }}" class="btn btn-sm btn-info">
                                        Ver
                                    </a>
                                    <a href="#" class="btn btn-sm btn-danger btn-delete">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                    {%endfor%}
                </table>
            </div>
            <a href="{{ path('crivero_prueba_partido_nuevo', { id: competicion.id }) }}" class="btn btn-success" style="height: 30px; width: 150px;">
                Nuevo Partido
            <span class="glyphicon glyphicon-plus"></span></a>
        {%endif%}
    </div>
{% endblock %}