{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de {{jugador.nombre}} {% endblock %}

{% block contenido %}
    <h1>Información detallada de: {{jugador.nombre}}</h1>
    <ul>
        <li>Nº de Dorsal : {{jugador.dorsal}}</li>
        {%for equipo in equipos if equipo.id == jugador.idEquipo %}
            <li>Equipo al que pertenece: {{equipo.nombre}}</li>
            {%for competicion in competiciones if equipo.idCompeticion == competicion.id%}
                <li>Competición en la que participa: {{competicion.nombre}}</li>
            {%endfor%}
        {%endfor%}
        {%for equipo in equipos if equipo.id == jugador.idEquipo %}
            <li>Nº de partidos en los que su equipo ha disputado:{{equipo.victorias + equipo.empates + equipo.derrotas}}</li>
        {%endfor%}
        <li>Incidencias:{{jugador.incidencia}}</li>
    </ul>
{% endblock %}