{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Jugadores {% endblock %}

{% block contenido %}
    <div class="container">

        <div class="page-header">
            <h1 class="t1"> Jugadores</h1>
        </div>
        {% if not pagination|length %}
            <h2>No se encontraron jugadores</h2>
        {% else %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Equipo</th>
                         <th>{{ knp_pagination_sortable(pagination, 'Nombre del jugador', 'pagination.nombre') }}</th>
                         <th>{{ knp_pagination_sortable(pagination, 'Dorsal', 'pagination.dorsal') }}</th>
                        <th>Incidencias</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in pagination %}
                        <tr>
                            {% for equipo in equipos if equipo.id == jugador.idEquipo%}
                                <td>{{equipo.nombre}}</td>
                            {%endfor%}
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.dorsal}}</td>
                            <td>{{jugador.incidencia}}</td>
                            <td class="actions">
                                <a href="{{ path('crivero_prueba_jugador', { id: jugador.id })  }}" class="btn btn-sm btn-info">
                                    Ver Detalles
                                </a>
                                {#<a href="{{ path('crivero_prueba_editarJugador', { id: jugador.id }) }}" class="btn btn-sm btn-primary">
                                    Editar Jugador
                                </a>#}
                                <a href="#" class="btn btn-sm btn-danger btn-delete">
                                    Eliminar Jugador
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}