{% extends '::base.html.twig' %}
{% block title %} Vista desde main{% endblock %}
{% block header %}{% endblock %}
{% block navegation %}
    <nav class="navbar navbar-default navbar-fixed-top" style="opacity: 0.9" role="navigation" >
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url('moduloclientes_cliente_homeCliente')}}"> <img src="{{ asset('images/logo.png') }}" style="width: 30px; margin-top: -5px"> </a>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                <li><a href="{{url('moduloclientes_cliente_reservasClientes')}}">Reservas</a></li>
                </li>

                <li><a href="{{url('moduloclientes_cliente_canchasClientes')}}">Canchas</a></li>

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Competiciones <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url('moduloclientes_cliente_competicionesClientes')}}">Competiciones </a></li>
                            <li><a href="{{url('moduloclientes_cliente_equiposClientes')}}"> Mis equipos </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url('moduloclientes_cliente_competicion_nueva')}}">Crear competición</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Sesiones<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url('moduloclientes_cliente_misSesionesClientes')}}">Apuntadas</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">No apuntadas</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url('moduloclientes_cliente_sesionesClientes')}}">Públicas</a></li>                    
                                    <li><a href="{{url('moduloclientes_cliente_sesionesPrivadasClientes')}}">Privadas</a></li>                          
                                </ul>
                            </li>   
                        </ul>
                    </li>
                {% endif %}
            </ul>

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <ul class="nav navbar-nav navbar-right">
                    {% if not notificacionesSinLeer|length %}  
                        <li><a href = "{{url('moduloclientes_cliente_notificacionesCliente')}}"><img src="{{asset('images/campanaSN.png')}}" style="width: 18px;" /></a></li>
                            {% else %}
                        <li class="dropdown hidden-xs">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><img src="{{asset('images/campanaCN.png')}}" style="width: 18px;" /></a>
                            <ul class="dropdown-menu" style="background-color: rgba(67, 152, 147, 0.46); border-radius: 15px 15px;">
                                {% set n = 0 %} 
                                {% for notificacion in notificacionesSinLeer if n < 5 %}  
                                    {% set flag = 0 %}
                                    {% if notificacion.concepto == "Publica"%}
                                        {% if notificacion.idEntidad in app.user.sesiones %}
                                            {% set ruta = url('moduloclientes_cliente_miSesionClientes', {id: notificacion.idEntidad})%}
                                        {% else %}
                                            {% set ruta = url('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad})%}
                                        {% endif %}
                                    {% elseif notificacion.concepto == "Privada"%}
                                        {% set ruta = url('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Reserva"%}
                                        {% set ruta = url('moduloclientes_cliente_reservaClientes', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Usuario"%}
                                        {% set ruta = url('moduloclientes_cliente_miPerfil', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Competicion"%}
                                        {% set ruta = url('moduloclientes_cliente_competicionClientes', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Cancha"%}
                                        {% set ruta = url('moduloclientes_cliente_canchaClientes', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Mensaje"%}
                                        {% set ruta = url('moduloclientes_cliente_mensajeCliente', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Celiminada"%}
                                        <li class="text-center"><form action="{{ path('moduloclientes_cliente_canchasClientes') }} " method="GET">
                                            <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                            <input style="background: transparent; color: white; text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;" type="submit" value="{{ notificacion.mensaje }}" >
                                        </form></li>
                                        {% set flag = 1 %}
                                    {% elseif notificacion.concepto == "AbandonoPublica"%}
                                        {% set ruta = url('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad})%}
                                    {% elseif notificacion.concepto == "Tarifas"%}
                                        <li class="text-center"><form action="{{ path('moduloclientes_cliente_sesionesClientes') }} " method="GET">
                                            <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                            <input style="background: transparent; color: white; text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;" type="submit" value="{{ notificacion.mensaje }}">
                                        </form></li>
                                        {% set flag = 1 %}
                                    {% elseif notificacion.concepto == "Publicacion"%}
                                        <li class="text-center"><form action="{{ path('moduloclientes_cliente_homeCliente') }} " method="GET">
                                            <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                            <input style="background: transparent; color: white; text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;" type="submit" value="{{ notificacion.mensaje }}">
                                        </form></li>
                                        {% set flag = 1 %}
                                    {% else %}
                                        {% set ruta = url('moduloclientes_cliente_notificacionesCliente', {id: notificacion.idEntidad})%}
                                    {% endif %}
                                    {% if flag == 0 %}
                                        <li class="text-center"><a style="color: white; text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;" href="{{ ruta }}">{{ notificacion.mensaje }}</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider" style="background-color: #cecdcd"></li>
                                        {% set n = n + 1 %}
                                    {% endfor %}
                                <li class="text-center"><a href = "{{url('moduloclientes_cliente_notificacionesCliente')}}"><font color="blue"><strong>Ver todas</strong></font></a></li>
                            </ul>
                        </li>
                        <li><a class="hidden-sm hidden-md hidden-lg" href = "{{url('moduloclientes_cliente_notificacionesCliente')}}"><img  src="{{asset('images/campanaCN.png')}}" style="width: 18px"/></a></li>
                            {% endif %}
                    <li><a href = "{{path('moduloclientes_cliente_mensajes_recibidosCliente')}}"><img src="{{asset('images/correo.png')}}" style="width: 18px;" /></a></li>
                    <li><a href="{{url('moduloclientes_cliente_miPerfil', {id:app.user.id} )}}"><img src="{{asset('images/user.png')}}" style="width: 18px;" /></a></li>
                    <li><a href="{{path('crivero_prueba_logout')}}" style="margin-right:12px;"><img src="{{asset('images/logout.png')}}" style="width: 18px;" /></a></li>
                </ul>
            {% endif %}

            <form method="GET" class="navbar-form navbar-center" role="search">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" value="{{app.request.get('query')}}" 
                           placeholder="Buscar..." >
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <img src="{{asset('images/search.png')}}" style="width: 15px;" />  
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

{% endblock %}
{% block body %}
    <div id="pagina" class="cfix">
        <div id ="contenido">
            {% block contenido %}
            {% endblock %}
        </div>
    </div>
{% endblock %}