{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %}Cancelar reserva{% endblock %}
{% block contenido %}
    <div class="container">
        <h2>Cancelar reserva</h2>

        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}

        <div class="form-group">
            {{ form_label(form.motivos) }}
            {{ form_widget(form.motivos, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Motivos de cancelación'} }) }}
            <span class="text-danger">{{ form_errors(form.motivos) }}</span>
        </div>
        <p>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
        </p>                

        {{ form_end(form) }}
    </div>
{% endblock %}