{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %}Cancelar reserva{% endblock %}
{% block contenido %}
    <div class="container centradoV">
        <h1 class="t1">Cancelar reserva</h1>

        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}

        <div class="form-group">
            {{ form_widget(form.cliente, { 'value' : ref }) }}
            <span class="text-danger">{{ form_errors(form.cliente) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.motivos) }}
            {{ form_widget(form.motivos, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Escriba los motivos de cancelación...'}, 'value': "" }) }}
            <span class="text-danger">{{ form_errors(form.motivos) }}</span>
        </div>
        <div>
            <a href="{{ ref }}" class="btn btn-danger">Anular</a>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
        </div>                

        {{ form_end(form) }}
    </div>
{% endblock %}