{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} {{ pagination[0].cancha|capitalize }} - Reservas{% endblock %}

{% block contenido %}
    {{ include('CriveroPruebaBundle:Default:messages/success.html.twig') }}
    <div class="container">
        <div class="page-header "> 
            <h1 class="t1">{{ pagination[0].cancha|capitalize }} - Reservas</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron reservas.</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Cliente', 'r.cliente') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Estado', 'r.estadoReserva') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'r.fechaInicio') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Horario', 'r.horario') }}</th>
                                    <td><strong>Acciones</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reserva in pagination %}
                                    <tr>
                                        <td><strong><a class="atd" href="{{ path('crivero_prueba_cliente', { id: reserva.idCliente }) }}" >{{reserva.cliente}}</a></strong></td>
                                                {% if reserva.estadoReserva == 'Reservado' %}
                                            <td><strong style="color: greenyellow">{{reserva.estadoReserva}}</strong></td>
                                            {% else %}
                                            <td><strong style="color: red">{{reserva.estadoReserva}}</strong></td>
                                                {% endif %}
                                        <td>{{reserva.fechaInicio|date('d/m/Y')}}</td>
                                        {% set horario = reserva.horario|split('&') %} 
                                        {% if horario|length > 2 %}
                                            {% set horarioFinal1 = horario[0]|split('-') %} 
                                            {% set horarioFinal2 = horario[horario|length - 2]|split('-') %} 
                                            <td>{{horarioFinal1[0]}}-{{horarioFinal2[horarioFinal2|length - 1]}} </td>
                                        {% else %}
                                            <td>{{horario[0]}}</td>
                                        {% endif %}

                                        <td class="actions">
                                            {% if reserva.estadoReserva == 'Reservado' %}
                                                <a href="{{path('crivero_prueba_reserva_cancelar', {id: reserva.id})}}" class="btn btn-sm btn-danger" style="margin-bottom: 0">
                                                    Cancelar
                                                </a>
                                            {% else %}
                                                <a href="{{path('crivero_prueba_enviarMensaje', {id: reserva.idCliente})}}" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                    Enviar mensaje
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}
                <div class="navigation text-center" style="margin: -10px">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <a class="btn btn-default" href="{{ path('crivero_prueba_cancha', { id: pagination[0].idCancha }) }}">Volver atrás</a>
    </div>
{% endblock %} 