{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} Participantes {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <div class="page-header">
            <h1 class="t1">Participantes</h1>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(pagination, 'Nombre del cliente', 'pagination.nombre') }}</th>
                                <th><div class="hidden-xs">{{ knp_pagination_sortable(pagination, 'Número de teléfono', 'pagination.telefono') }}</div></th>
                                <th>{{ knp_pagination_sortable(pagination, 'Correo electrónico', 'pagination.email') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in pagination %}
                                <tr data-id="{{ cliente.id }}">
                                    <td>{{cliente.nombre}}</td>
                                    <td><div class="hidden-xs">{{cliente.telefono}}</div></td>
                                    <td>{{cliente.email}}</td>
                                    <td class="actions">
                                        <a href="{{'http://localhost/Prueba/web/app_dev.php/miSesionMonitores/'~idSesion~'/verParticipantes/'~cliente.id}}" class="btn btn-sm btn-primary">
                                            Ver
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <a href="{{path('modulomonitores_monitores_miSesionMonitores', {id: idSesion})}}"class="btn btn-default">Volver a la sesión</a>
    </div>
{% endblock %}

