{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}

{% block title %} Cliente {{cliente.nombre}} {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img src="{{ asset('images/'~cliente.imagen) }}" class="img-circle" style="width:60px;" />        
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h3 style="font-weight: 600">{{ cliente.nombre|capitalize }}</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">  

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>E-mail </h4> <p>{{cliente.email}}</p>
                            <h4>Fecha nacimiento </h4> <p>{{cliente.fNacimiento}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Teléfono </h4> <p>{{cliente.telefono}}</p>
                            <h4>Sesiones en activo</h4>
                            <div>
                                <ul style="list-style: none">
                                    {% for sesion in sesiones %}
                                        {% if sesion.estado == 'validada' %}
                                            <li>
                                                {% if sesion.cliente == 'normal' %}
                                                    <p>Sesión{{sesion.nombre}} 
                                                        <a href="{{ path('modulomonitores_monitores_miSesionMonitores', { id: sesion.id }) }}" class="btn btn-sm btn-primary">
                                                            Ver más información
                                                        </a>
                                                    </p>
                                                {% else %}
                                                    <p>Sesión{{sesion.nombre}} 
                                                        <a href="{{ path('modulomonitores_monitores_miSesionDedicada', { id: sesion.id }) }}" class="btn btn-sm btn-primary">
                                                            Ver más información
                                                        </a>
                                                    </p>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <a class="btn btn-default" href="{{ path('modulomonitores_monitores_enviarMensajeCliente', { id : cliente.id } ) }}">Enviar mensaje</a>
                        </div>
                    </div>
                </div>
                        <div id="colder" class="col-md-8"><a href="{{'http://localhost/Prueba/web/app_dev.php/miSesionDedicada/'~idSesion}}" style="height: 30px; width: 190px; margin-top: 10px;" class="btn btn-success">Volver a lista de participantes</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}