{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} Mis participantes {% endblock %}
{% block contenido %}
    {{ include('CriveroPruebaBundle:Default:messages/success.html.twig') }}
    <div class="container text-center">
        <div class="page-header">
            {% if (flag)%}
                <h1 class="t1"> {{nombreSesion}} - Participantes</h1>
            {% else %}
                <h1 class="t1">Mis participantes</h1>
            {% endif %}
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron participantes</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nombre del cliente', 'pagination.nombre') }}</th>
                                    <th><div class="hidden-xs">{{ knp_pagination_sortable(pagination, 'Número de teléfono', 'pagination.telefono') }}</div></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Correo electrónico', 'pagination.email') }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for cliente in pagination %}
                                    <tr data-id="{{ cliente.id }}">
                                        <td><img src="{{ asset('images/'~cliente.imagen) }}" class="img-responsive center-block " style="max-width: 45px"/></td>

                                        <td>{{cliente.nombre}}</td>
                                        <td>{{cliente.telefono}}</td>
                                        <td>{{cliente.email}}</td>
                                        <td class="actions">
                                            {% if (flag)%}
                                                <a href="{{'http://localhost/Prueba/web/app_dev.php/miSesionMonitores/'~idSesion~'/verParticipantes/'~cliente.id}}" class="btn btn-sm btn-primary">
                                                    Ver más información
                                                </a>
                                            {% else %}
                                                <a href="{{ path('modulomonitores_monitores_participanteListado', { id: cliente.id }) }}" class="btn btn-sm btn-primary">
                                                    Ver más información
                                                </a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        {% if (flag)%}
            <a href="{{path('modulomonitores_monitores_miSesionMonitores', {id: idSesion})}}"class="btn btn-default">Volver a la sesión</a>
        {% endif %}
    </div>
{% endblock %}

