{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}{{sesion.nombre}} {% endblock %}
{% block contenido %}
    <h1 class="t1">Sesión privada: {{sesion.nombre}}</h1>

    <div id="sesiondat" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >  
                <img src="{{ asset(sesion.imagen) }}" class="img-responsive center-block" style="max-width: 330px; margin-bottom:20px"/>        
                <div class="text-center">
                    {% if sesion.estado == "suspendida" %}
                        <h4 class="terr">Motivos: {{sesion.observaciones}}</h4>
                    {% elseif sesion.estado == "cancelada" %}
                        <h4 class="terr">Motivos: {{sesion.observaciones}}</h4>
                    {% elseif sesion.estado == "terminada" %}
                        <h4>¡Gracias por su participación! </h4>
                    {% elseif sesion.estado == "rechazada" %}
                        <h4 class="terr">Motivos: {{sesion.observaciones}}</h4>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <div class="panel panel-default">                  
                    <div class="panel-body">   
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">    
                            <h4>Aula de la sesión:</h4> <p>{{aula.nombre}}</p>
                            <h4>Ejercicios a realizar:</h4> <p>{{sesion.ejercicios}}</p>
                            <h4>Repeticiones por cada ejercicio:</h4> <p>{{sesion.repeticiones}} por ejercicio</p>
                            {% if sesion.estado == "validada" %}
                                <a href="{{path('modulomonitores_monitores_verHorario', {id: sesion.id})}}" style="height: 30px; width: 100px;" class="btn btn-primary">Ver Horario</a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Duración de cada sesión:</h4> <p>{{sesion.duracion}} minutos</p>
                            <h4>Descanso entre ejercicios:</h4> <p>{{sesion.descanso}} segundos</p>
                            <h4>Objetivo de la sesión:</h4> <p>{{sesion.objetivo}}</p>
                            {% if sesion.nClientes > 0 %}
                                <a href="{{path('modulomonitores_monitores_participantePrivado', {id: sesion.id})}}" style="height: 30px; width: 180px;" class="btn btn-primary">Ver info del participante</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">         
            {% if sesion.estado == "validada" %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="{{path('modulomonitores_monitores_terminarDe', {id: sesion.id})}}" class="btn btn-warning text-center center-block img-responsive" style="width: 180px;">Terminar sesión</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a href="{{path('modulomonitores_monitores_suspenderSesionDedicada', {id: sesion.id})}}" class="btn btn-danger text-center center-block img-responsive" style="width: 180px;">Suspender sesión</a> 
                </div>
            {% elseif sesion.estado == "suspendida" %}
                <button class="btn btn-danger text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Suspendida</button>
            {% elseif sesion.estado == "cancelada" %}
                <a href="{{path('modulomonitores_monitores_abandonarSesion', {id: sesion.id})}}" class="btn btn-danger text-center center-block img-responsive" style="width: 180px;">Abandonar sesión</a>
            {% elseif sesion.estado == "terminada" %}
                <button class="btn btn-warning text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Sesión terminada</button>
            {% elseif sesion.estado == "rechazada" %}
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {{ include('modulomonitoresmonitoresBundle:Default:forms/form.html.twig', { form: delete_form })}}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="{{path('modulomonitores_monitores_editarSesionDedicada', {id: sesion.id})}}" class="btn btn-primary text-center center-block img-responsive" style="width: 200px;">Modificar sesión</a>
                    </div>
                </div>
            {% else %}
                <button class="btn btn-warning text-center center-block img-responsive" style="width: 180px;" disabled="disabled">Pendiente</button>
            {% endif %}
        </div>
    </div>
{% endblock %}