{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %}Suspender sesión privada{% endblock %}
{% block contenido %}
    <div class="container centradoV">
        <h1 class="t1">Suspender sesión privada</h1>

        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
        

        <div class="form-group">
            {{ form_label(form.observaciones) }}
            {{ form_widget(form.observaciones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Escriba los motivos de suspensión...'} }) }}
            <span class="text-danger">{{ form_errors(form.observaciones) }}</span>
        </div>
        
        <div>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
            
            <a href="{{ path("modulomonitores_monitores_miSesionDedicada", {id: sesion.id}) }}" class="btn btn-danger">Cancelar</a>
        </div>                

        {{ form_end(form) }}
    </div>
{% endblock %}