{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Competiciones {% endblock %}             
{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Competiciones</h1>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron competiciones</h2>
                {% else %}  
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'c.nombre') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Deporte', 'c.deporte') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'c.tipoCompeticion') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.estadoCompeticion') }}</th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for competicion in pagination%}
                                    <tr data-id="{{ competicion.id }}">
                                        <td>{{competicion.nombre}}</td>
                                        <td>{{competicion.deporte}}</td>
                                        <td>{{competicion.tipoCompeticion}}</td>
                                        <td>{{competicion.estadoCompeticion}}</td>
                                        <td class="actions">
                                            {% if competicion.estadoCompeticion == 'Cancelado' %}
                                                <button class="btn btn-sm btn-info" disabled>Ver</button>
                                            {% else %}                                              
                                                <a href="{{ path('moduloclientes_cliente_competicionClientes', {id: competicion.id}) }}"  class="btn btn-sm btn-info">
                                                    Ver
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>                            
{% endblock %}