{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %}Vista de {{competicion.nombre}} {% endblock %}
{% block contenido %}
    <div class="container">
         <h1 class="t1">Detalles del {{competicion.nombre}}</h1>

        {% if competicion.estadoCompeticion == "Validado"%}
         <h3 class="t3">Bienvenido a la {{competicion.nombre}}. Esta competicion es para aquellos que quieran apuntarse a jugar a {{competicion.deporte}}</h3>
        <h4>Le fecha de comienzo es el {{competicion.fechaInicio|date('d/m/Y')}}. Después de esta fecha la fase de inscripción quedará cerrada.</h4>
        <div class="nuevoEquipo">
            <a href="{{path('moduloclientes_cliente_equipo_nuevo',{'id':competicion.id})}}" class="btn btn-success">
                Crear Equipo 
                <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        {%endif%}
        {% if competicion.estadoCompeticion == "Jugandose"%}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Posición </th>
                            <th> Equipo  </th>
                            <th> Puntos   </th>
                            <th> Victorias </th>
                            <th> Derrotas </th>
                            <th> Empates  </th>
                        </tr>
                    </thead>
                    {%for equipo in equipos%}
                        <tr>
                            <td>   {{equipo.clasificacion}}º  </td>
                            <td>   {{equipo.nombre}}           </td>
                            <td>   {{equipo.puntuacion}}   </td>
                            <td>   {{equipo.victorias}}   </td>
                            <td>   {{equipo.derrotas}}  </td>
                            <td>   {{equipo.empates}}   </td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
            <a href="{{ path('moduloclientes_cliente_partidosClientes',{ id: competicion.id }) }}" class="btn btn-sm btn-info">
                Ver Partidos
            </a>
        {%endif%}
    </div>
    <div>
        <ul class="container text-center">
            {%if competicion.estadoCompeticion == "Finalizado" %}
                <h3 class="t3">Resumen del {{competicion.nombre}}</h3>
                <p>Equipos</p>
                <a href="{{ path('moduloclientes_cliente_partidosClientes',{ id: competicion.id }) }}" class="btn btn-sm btn-info">
                    Ver Partidos
                </a>
            {%endif%}
        </ul>
    </div>
{% endblock %}