{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Editar Equipo {% endblock %}

{% block contenido %}
    <div class="container">
         <h1 class="t1">Editar Equipo</h1>
        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
        
        <div class="hidden">
            {{ form_label(form.idCompeticion) }}
            {{ form_widget(form.idCompeticion, {'attr' : {'class' : 'form-control'}  } ) }}
            <span class="text-danger">{{ form_errors(form.idCompeticion) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control'}  } ) }}
            <span class="text-danger">{{ form_errors(form.nombre) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.deporte) }}
            {{ form_widget(form.deporte, { 'attr' : {'class' : 'form-control'} }) }}
            <span class="text-danger">{{ form_errors(form.deporte) }}</span>
        </div>

        {#<div class="form-group">#}
            {#{{ form_widget(form.deporte, {'value' : deporte } ) }}#}
            {#<span class="text-danger">{{ form_errors(form.deporte) }}</span>#}
        {#</div>#}
        <p>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
        </p>                
        {{ form_end(form) }}
    </div>
{% endblock %}