{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Mi equipo {% endblock %}             
{% block contenido %}
    <div class="container text-center">
        <div class="page-header">    
            <h1 class="t1">{{equipo.nombre}} - {{equipo.deporte}}</h1>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not jugadores|length %}
                    <h2>No se encontraron jugadores</h2><br>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ knp_pagination_sortable(jugadores, 'Nombre', 'jugadores.nombre') }}</th>
                                    <th>{{ knp_pagination_sortable(jugadores, 'Dorsal', 'jugadores.Dorsal') }}</th>
                                    <th>{{ knp_pagination_sortable(jugadores, 'Incidencias', 'jugadores.incidencia') }}</th>
                                    <th> Acción </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jugador in jugadores %}
                                    <tr data-id="{{jugador.id}}">
                                        {%if jugador.imagen != null%}
                                            <td><img src="{{ asset('images/'~jugador.imagen) }}" class="img-responsive" style="max-width: 50px;"/></td>
                                            {%else%}
                                            <td>Imagen no Disponible</td>
                                        {%endif%}
                                        <td>  {{jugador.nombre}}  </td>
                                        <td>   {{jugador.Dorsal}}   </td>
                                        <td>   {{jugador.incidencia}}</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-danger btn-delete">
                                                Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(jugadores) }}
                </div>
                <a href="{{path('moduloclientes_cliente_jugador_nuevo',{'id': equipo.id})}}" class="btn btn-success">Añadir invitado<span class="glyphicon glyphicon-plus"></span></a>
                <a href="{{path('moduloclientes_cliente_jugadoresClientes',{'id': equipo.id})}}" class="btn btn-success">Buscar jugador<span class="glyphicon glyphicon-plus"></span></a>
                <a href="{{ path('moduloclientes_cliente_equipo_editar', { 'id': equipo.id }) }}" class="btn btn-sm btn-primary">Editar Equipo</a>
                <p>{{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar equipo" })}}</p>
            </div>
        </div>
        <a class="btn btn-default text-center" href="{{ path('moduloclientes_cliente_equiposClientes') }}">Volver atrás</a>
    </div>
    {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form_ajax, nombre: "Eliminar jugador", id:'form-delete',with_submit:false })}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/criveroprueba/js/delete-jugador.js') }}"></script>
{% endblock %}
