{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Escribir motivos {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 class="t1">Notificar de cambios en el partido</h1>
            </div>
            {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
            <div class="hidden">
                {{ form_widget(form.idEntidad, {'value' : id } ) }}
                <span class="text-danger">{{ form_errors(form.idEntidad) }}</span>
            </div>
            <div class="panel-body">  
                <div class="row">
                    <div class="hidden">
                        {{ form_label(form.concepto) }}
                        {{ form_widget(form.concepto, {'attr' : {'class' : 'form-control'}  } ) }}
                        <span class="text-danger">{{ form_errors(form.concepto) }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-15 col-lg-25 text-center">
                        {{ form_label(form.mensaje) }}
                        {{ form_widget(form.mensaje, { 'attr' : {'class' : 'form-control'} }) }}
                        <span class="text-danger">{{ form_errors(form.mensaje) }}</span>
                    </div>
                </div><br>
                <div class="text-center">
                    {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}