{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Partido {{ partido.id }} {% endblock %}

{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">{{ competicion.nombre }}</h1>
            <h2 class="t1">Partido entre {{ equipoLocal.nombre }} VS {{ equipoVisitante.nombre }}</h2>
        </div>
        <div>
            {% if partido.estadoPartido == 'Pendiente' %}
                <ul>
                    <li>El partido esta previsto para: {{ partido.fechaInicio|date('d/m/Y H:i:s') }} en la cancha {{ cancha.tipo }}
                    <li> El {{ equipoLocal.nombre }} clasificado en {{ equipoLocal.clasificacion }}º
                        puesto VS {{ equipoVisitante.nombre }} clasificado en {{ equipoVisitante.clasificacion }}º puesto</li>
                    <li>Árbitro designado para el encuentro: {{ partido.arbitro }}</li>
                </ul>
            {% endif %}
            {% if partido.estadoPartido == 'Jugandose' %}
                <ul>
                    <li> El {{ equipoLocal.nombre }} clasificado en {{ equipoLocal.clasificacion }}º
                        puesto VS {{ equipoVisitante.nombre }} clasificado en {{ equipoVisitante.clasificacion }}º puesto</li>
                    <li>Arbitro pitando: {{ partido.arbitro }}</li>
                    <li>Los jugadores del {{ equipoLocal.nombre }}</li>
                    {% for jugador in jugadores if equipoLocal.id == jugador.idEquipo%}
                        <p>{{ jugador.nombre }} con el dorsal {{ jugador.dorsal }}</p>
                    {% endfor %}
                    <li>Los jugadores del {{ equipoVisitante.nombre }}</li>
                    {% for jugador in jugadores if equipoVisitante.id == jugador.idEquipo%}
                        <p>{{ jugador.nombre }} con el dorsal {{ jugador.dorsal }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if partido.estadoPartido == 'Finalizado' %}
                <ul>
                    <li>Clasificación de ambos en la competición</li>
                    <li>Árbitro asignado al encuentro: {{ partido.arbitro }}</li>
                    <li>Los jugadores del {{ equipoLocal.nombre }}</li>
                    {% for jugador in jugadores if equipoLocal.id == jugador.idEquipo%}
                        <p>{{ jugador.nombre }} con el dorsal {{ jugador.dorsal }}</p>
                    {% endfor %}
                    <li>Los jugadores del {{ equipoVisitante.nombre }}</li>
                    {% for jugador in jugadores if equipoVisitante.id == jugador.idEquipo%}
                        <p>Nombre: {{ jugador.nombre }} Dorsal: {{ jugador.dorsal }} Incidencias: {{ jugador.incidencia }}</p>
                    {% endfor %}
                    <li>Resultado del encuentro: {{ partido.resultado}}</li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}