{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Cliente {{cliente.username}} {% endblock %}
{% block contenido %}
    <div class="usuardesc container">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>{{cliente.username}}</h3>
                </div>
                <div class="panel-body">
                    <div class="usuarfot">
                        <img src="{{ asset('images/no-image-found.png') }}" style="float: left; width: 120%;" />        
                    </div>
                    <div class="usuardat text-center">
                        <button type="button" class="btn btn-primary">Enviar mensaje</button>

                    </div>
                    <h4>Nombre: </h4> <p>{{cliente.nombre}}</p>
                    <h4>F.Nacimiento: </h4> <p>{{cliente.fNacimiento}}</p>
                    <h4>Telefono: </h4> <p>{{cliente.telefono}}</p>
                    <h4>Registro: </h4> <p>{{cliente.registro|date('d/m/Y H:i')}}</p>

                    <div>
                        {% if reservas != null %}
                            <div>
                                <h4>Reservas: </h4> 
                                <ul id="reservas">
                                    {% for reserva in reservas %}
                                        <li>
                                            <div class="acciones">
                                                <a href="{{path('crivero_prueba_reserva_cancelar', {id: reserva.id})}}" class="btn btn-sm btn-warning">
                                                    Cancelar
                                                </a>
                                            </div>
                                            <p>{{reserva.cancha}}: {{reserva.fechaInicio|date('d/m H:i')}} - {{reserva.fechaFinalizacion|date('H:i')}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if cliente.sesiones != null %}
                            <div>
                                <h4>Sesiones: </h4> 
                                <ul id="sesiones">
                                    {% for sesion in sesiones %}
                                        <li>
                                            <p>Aula {{sesion.aula}} - {{sesion.nombre}} con {{sesion.monitor}} - {{sesion.horario}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div><br>
                    <div class="accionesExclus text-center">       
                        {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar usuario" })}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}