{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Cliente {{ cliente.username }} {% endblock %}
{% block contenido %}
    {{ include('CriveroPruebaBundle:Default:messages/success2.html.twig') }}
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img src="{{ asset('images/' ~ cliente.imagen) }}" class="img-circle" style="width:60px;" />        
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h3 style="font-weight: 600">{{ cliente.username|capitalize }}</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">  
                    {% if app.user.id != cliente.id and app.user.tipo == 1 %}
                        <div>
                            <form style="margin-right: -3px" action="{{ path('crivero_prueba_enviarMensaje', {id: cliente.id}) }}" method="post" class="alinear btn-group">
                                <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                                <input type="hidden" class="btn">
                            </form>
                            <form style="" action="{{ path('crivero_prueba_editarUsuario', { id: cliente.id }) }}" method="post" class="alinear btn-group">
                                <input type="hidden" class="btn">
                                <button type="submit" class="btn btn-info">Editar usuario</button>
                                <input type="hidden" class="btn">
                            </form>
                            <form style="margin-left: -3px" action="{{ path('crivero_prueba_pagos_usuario', { id: cliente.id }) }}" method="post" class="alinear btn-group">
                                <input type="hidden" class="btn">
                                <button type="submit" class="btn btn-warning">Historial pagos</button>
                            </form>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Nombre </h4> <p>{{cliente.nombre}}</p>
                            <h4>E-mail </h4> <p>{{cliente.email}}</p>
                            <h4>Fecha nacimiento </h4> <p>{{cliente.fNacimiento}}</p>
                            <h4>Teléfono </h4> <p>{{cliente.telefono}}</p>
                            <h4>Registro </h4> <p>{{cliente.registro|date('d/m/Y')}}</p>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " >
                            <h4>Reservas</h4>
                            {% if reservas != null %}
                                <div>
                                    <ul style="list-style: none">
                                        {% set i = 0 %}
                                        {% for reserva in reservas if i < 3 %}
                                            {% set i = i+1 %}
                                            <li>
                                                <p>{{reserva.cancha}}: {{reserva.fechaInicio|date('d/m')}} - 
                                                    {% set horario = reserva.horario|split('&') %} 
                                                    {% if horario|length > 2 %}
                                                        {% set horarioFinal1 = horario[0]|split('-') %} 
                                                        {% set horarioFinal2 = horario[horario|length - 2]|split('-') %} 
                                                        {{horarioFinal1[0]}}-{{horarioFinal2[horarioFinal2|length - 1]}}</p>
                                                    {% else %}
                                                        {{horario[0]}}</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{{ path('crivero_prueba_reservas_cliente', { id: cliente.id })}}" method="post" class="form-signin">
                                        <button type="submit" class="btn btn-sm btn-success">Ver reservas</button>
                                    </form>
                                </div>
                            {% else %}
                                <p style="color: red"><strong>Sin reservas actualmente.</strong></p>
                            {% endif %}

                            <h4>Sesiones</h4>
                            {% if cliente.sesiones != null %}
                                <div>
                                    <ul style="list-style: none">
                                        {% set i = 0 %}
                                        {% for sesion in sesiones if i < 2 %}
                                            {% if sesion.estado == 'validada' %}
                                                {% set i = i+1 %}
                                                <li>
                                                    <p>{{recintos[sesion.id]}} - {{sesion.nombre}} con {{sesion.monitor}} 
                                                        <a style="margin-bottom: 0; padding: 1px 1px; line-height: 0;" class="btn btn-xs btn-primary" href="{{path('crivero_prueba_horarios_sesion', { id: sesion.id })}}">
                                                            <img src="{{ asset("images/clock.png") }}" style="width: 13px" />
                                                        </a>
                                                    </p>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% if i == 0 %} <p style="color: red"><strong>Sin sesiones validadas.</strong></p>{% endif %}
                                    <form action="{{ path('crivero_prueba_sesiones_cliente', { id: cliente.id })}}" method="post" class="form-signin">
                                        <button type="submit" class="btn btn-sm btn-success">Ver sesiones</button>
                                    </form>
                                </div>
                            {% else %}
                                <p style="color: red"><strong>Sin sesiones actualmente.</strong></p>
                            {% endif %}
                            
                            {% if app.user.id != cliente.id and (reservas == null or cliente.sesiones == null) %}
                                <br>
                                {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar usuario" })}}
                            {% endif %}
                        </div>
                    </div>
                    {% if app.user.id != cliente.id and reservas != null and cliente.sesiones != null %}
                        {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar usuario" })}}
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                {% if app.request.headers.get('referer') and 'editarUsuario' not in app.request.headers.get('referer') %}
                    <a href="{{app.request.headers.get('referer')}}" class="btn btn-default">
                        Volver atrás
                    </a>
                {% else %}
                    <a href="{{ path('crivero_prueba_clientes') }}" class="btn btn-default">
                        Volver atrás
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
