{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Monitor {{monitor.username}} {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="usuardesc">
            <div class="accionesExclus">
                <button type="button" class="btn btn-primary">Enviar mensaje</button>
                <p>{{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form, nombre: "Eliminar usuario" })}}</p>
            </div>
            <h1>{{monitor.username}}</h1>
            <div class="usuarfot">
                <img src="{{ asset('images/' ~ monitor.imagen) }}" style="float: left; width: 100%;" />        
            </div>
            <div class="usuardat">
                <div id="resersiones">
                    {% if sesiones != null %}
                        <div>
                            <h4>Sesiones: </h4> 
                            <form action="{{ path('crivero_prueba_sesiones_monitor', { id: monitor.id })}}" method="post" class="form-signin">
                                <button type="submit" class="btn btn-success">Ver sesiones</button>
                            </form>
                            {#<ul id="sesiones">
                                {% for sesion in sesiones %}
                                    <li>
                                        <p>Aula {{sesion.aula}} - {{sesion.nombre}} - {{sesion.horario}}</p>
                                    </li>
                                {% endfor %}
                            </ul>#}
                        </div>
                    {% endif %}
                </div>
                <h4>Nombre: </h4> <p>{{monitor.nombre}}</p>
                <h4>F.Nacimiento: </h4> <p>{{monitor.fNacimiento}}</p>
                <h4>Telefono: </h4> <p>{{monitor.telefono}}</p>
                <h4>Registro: </h4> <p>{{monitor.registro|date('d/m/Y')}}</p>
            </div>
        </div>
    </div>
{% endblock %}