{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Nuevo usuario {% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Nuevo usuario</h2>
        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}

        <div class="form-group">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Escriba su nombre completo'} }) }}
            <span class="text-danger">{{ form_errors(form.nombre) }}</span>
        </div>


        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Escriba su email'}}) }}
            <span class="text-danger">{{ form_errors(form.email) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder' : 'Introduzca su password'}}) }}
            <span class="text-danger">{{ form_errors(form.password) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.fNacimiento) }}
            {{ form_widget(form.fNacimiento, { 'attr' : {'class' : 'form-control', 'placeholder' : '--/--/----'} }) }}
            <span class="text-danger">{{ form_errors(form.fNacimiento) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.telefono) }}
            {{ form_widget(form.telefono, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Introduzca su número teléfono'} }) }}
            <span class="text-danger">{{ form_errors(form.telefono) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.tipo) }}
            {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(form.tipo) }}</span>
        </div>
        <p>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
        </p>                

        {{ form_end(form) }}
    </div>
{% endblock %}