{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Pagos {% endblock %}

{% block contenido %}

    {{ include('CriveroPruebaBundle:Default:messages/success.html.twig') }}
    <div class="container">
        <h1 class="text-center">Pagos</h1>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'p.FechaPago') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'p.tipoPago') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Concepto', 'p.concepto') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Cuantia', 'p.cuantia') }}</th>
                    </tr>
                </thead>
                <tbody>

                    {% for pago in pagination %}
                        <tr data-id="{{ pago.id }}">
                            <td>{{pago.FechaPago|date('d/m/Y H:i')}}</td>
                            <td>{{pago.tipoPago}}</td>
                            <td>{{pago.concepto}}</td>
                            <td>{{pago.cuantia}}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}
