{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} Mensajes Recibidos {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="page-header">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1 class="t1">Mensajes recibidos</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><br>
                    <div class="dropdown" style="float: left">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mensajes Recibidos<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('modulomonitores_monitores_mensajes_enviadosMonitor')}}">Mensajes Enviados</a></li>
                            <li class="active"><a href="#">Mensajes Recibidos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron mensajes.</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Remitente', 'm.idRemitente') }}</th>
                                    <th><div class="hidden-xs">{{ knp_pagination_sortable(pagination, 'Asunto', 'm.asunto') }}</div></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Recibido', 'm.fecha') }}</th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mensaje in pagination %}
                                    {{ (mensaje.estado == "nuevo") ? "<tr data-id='{{ mensaje.id }}' style='font-weight: bold'>"|raw : 
                                                             "<tr data-id='{{ mensaje.id }}'>"|raw }}
                                <td>{{ remitentes[loop.index0] }}</td>
                                {% if mensaje.asunto == null %}
                                    <td><div class="hidden-xs">Sin asunto</div></td>
                                {% else %}
                                    <td><div class="hidden-xs">{{mensaje.asunto}}</div></td>
                                {% endif %}
                                <td>{{ mensaje.fecha|date('d/m/Y H:i') }}</td>
                                <td class="actions">
                                    <form action="{{ path('modulomonitores_monitores_mensajeMonitor', {id: mensaje.id}) }}">
                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                            Ver mensaje
                                        </button>
                                    </form>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div>
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}