{% extends 'moduloclientesclienteBundle::main.html.twig' %}
{% block title %} Notificaciones {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Notificaciones</h1>
        </div>
        <div class="panel panel-default text-center">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No hay notificaciones</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Mensaje</th>
                                    <th>Enviado</th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notificacion in pagination %}
                                    <tr data-id="{{ notificacion.id }}">
                                        <td><strong>{{ notificacion.mensaje }}</strong></td>
                                        <td>{{ notificacion.fecha|date('d/m/Y H:i') }}</td>
                                        <td class="actions">
                                            {% if notificacion.concepto == "Publica"%}
                                                {% if notificacion.idEntidad in app.user.sesiones %}
                                                    <form action="{{ path('moduloclientes_cliente_miSesionClientes', {id: notificacion.idEntidad}) }}">
                                                    {% else %}
                                                        <form action="{{ path('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad}) }}">
                                                        {% endif %}
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Privada"%}
                                                    <form action="{{ path('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad}) }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Reserva"%}
                                                    <form action="{{ path('moduloclientes_cliente_reservaClientes', {id: notificacion.idEntidad}) }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Usuario"%}
                                                    <form action="{{ path('moduloclientes_cliente_miPerfil', {id: notificacion.idEntidad}) }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Cancha"%}
                                                    <form action="{{ path('moduloclientes_cliente_canchaClientes', {id: notificacion.idEntidad}) }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Mensaje"%}
                                                    <form action="{{ path('moduloclientes_cliente_mensajeCliente', {id: notificacion.idEntidad}) }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "Celiminada"%}
                                                    <form action="{{ path('moduloclientes_cliente_canchasClientes') }} " method="GET">
                                                        <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% elseif notificacion.concepto == "AbandonoPublica"%}
                                                    <form action="{{ path('moduloclientes_cliente_sesionClientes', {id: notificacion.idEntidad}) }} " method="GET">
                                                        <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                            Ver notificación
                                                        </button>
                                                    </form>
                                                {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation text-center"  >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
