{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %} Aulas {% endblock %}
{% block contenido %}   
    <div class="progress no-border hidden" id="delete-progress" style="margin-top: -20px">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
        </div>
    </div> 

    {{ include('CriveroPruebaBundle:Default:messages/success.html.twig') }}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Aulas</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No se encontraron aulas</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Estado', 'a.disponibilidad') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Horario', 'a.horario') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Área', 'a.dimensiones') }}</th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aula in pagination %}
                                    <tr data-id="{{ aula.id }}">
                                        <td>{{aula.nombre}}</td>
                                        {% if aula.disponibilidad == 'Disponible' %}
                                            <td><strong>{{aula.disponibilidad}}</strong></td>
                                        {% else %}
                                            <td><strong style="color: red">{{aula.disponibilidad}}</strong></td>
                                        {% endif %}
                                        <td>{{aula.horario}}</td>
                                        <td>{{aula.dimensiones ~ 'm²'}}</td>
                                        <td class="actions">
                                            <a href="{{ path('crivero_prueba_aula', { id: aula.id }) }}" class="btn btn-sm btn-info">
                                                Ver
                                            </a>
                                            <a href="{{ path('crivero_prueba_aula_editar', { id: aula.id }) }}" class="btn btn-sm btn-primary">
                                                Editar
                                            </a>
                                            {% if aula.sesiones == null %}
                                                <a href="#" class="btn btn-sm btn-danger btn-delete">
                                                    Eliminar
                                                </a>
                                            {% else %}
                                                <a onclick="warningEliminar()" class="btn btn-sm btn-danger">
                                                    Eliminar
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form_ajax, id: "form-delete", with_submit: false })}}
{% endblock %} 
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/criveroprueba/js/delete-aula.js') }}"></script>
    <script>
        function warningEliminar(){
            var dialog=bootbox.dialog({
                title: '<h4 class="text-center" style="font-weight: 600; color: red">¡ATENCIÓN!</h4>',
                message: '<p class="text-center" >No es posible eliminar un aula con sesiones asignadas.</p>',
                closeButton: false
            });
            setTimeout(function (){dialog.modal('hide');}, 4000);
        }
    </script>
{% endblock %}