{# empty Twig template #}
{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de Canchas {% endblock %}
{% block navegation %}        
        <ul>
        <li><a href="{{url('moduloclientes_cliente_reservasClientes')}}">Reservas</a></li>
        <li><a class="active" href="#">Canchas</a></li>
        <li><a href="{{url('moduloclientes_cliente_torneosClientes')}}">Torneos</a></li>
        <li><a href="{{url('moduloclientes_cliente_sesionesClientes')}}">Entrenamiento</a></li>
	</ul>
{% endblock %}                
{% block contenido %}
<div id="buscador">
    <form>
        <input type="search" name="cancha" placeholder="Buscar cancha"/>
    </form>
</div>
<h1>Listado de Canchas</h1>
{% for cancha in canchas %}
    <a href="{{url('moduloclientes_cliente_canchaClientes', {'matricula': cancha.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ cancha.matricula }} - {{ cancha.nombre }} - {{ cancha.disponibilidad}} </a>
{% endfor %}

{% endblock %}