{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Nuevo Equipo {% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Nueva Equipo</h2>
        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
        
        <div class="form-group">
            {{ form_widget(form.idCompeticion, {'value' : id } ) }}
            <span class="text-danger">{{ form_errors(form.idCompeticion) }}</span>
        </div>

        <div class="form-group">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control'}  } ) }}
            <span class="text-danger">{{ form_errors(form.nombre) }}</span>
        </div>
        
        <div class="form-group">
            {{ form_label(form.deporte) }}
            {{ form_widget(form.deporte, { 'attr' : {'class' : 'form-control'} }) }}
            <span class="text-danger">{{ form_errors(form.deporte) }}</span>
        </div>
        <p>
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
        </p>                
        {{ form_end(form) }}
    </div>
{% endblock %}