{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de Reservas {% endblock %}

{% block contenido %}
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Listado de Reservas</h3>
                <div id="buscador">
                    <form>
                        <input type="search" name="reserva" placeholder="Buscar reserva"/>
                    </form>
                </div><br><br>
            </div>
            {% for reserva in reservas %}
                <a href="{{url('moduloclientes_cliente_reservaClientes', {'id': reserva.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ reserva.id }} - {{ reserva.idCliente }} </a>
            {% endfor %}
        </div>
        
        
{#        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'u.nombre') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Correo electrónico', 'u.email') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Creado', 'u.registro') }}</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuario in pagination %}
                        <tr data-id="{{ usuario.id }}">
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.registro|date('d/m/Y H:i')}}</td>
                            <td class="actions">
                                <a href="{{ path('crivero_prueba_cliente', { id: usuario.id }) }}" class="btn btn-sm btn-info">
                                    Ver
                                </a>
                                <a href="{{ path('crivero_prueba_editarUsuario', { id: usuario.id }) }}" class="btn btn-sm btn-primary">
                                    Editar
                                </a>
                                <a href="#" class="btn btn-sm btn-danger btn-delete">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="nuevoUsuario text-center">
                <a href="{{path('crivero_prueba_nuevo')}}" class="btn btn-success" style="height: 30px; width: 150px;"> Nuevo Usuario <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>#}
        
    </div>
{% endblock %}