{# empty Twig template #}
{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de Reservas {% endblock %}
{% block navegation %}        
        <ul>
        <li><a class="active" href="">Reservas</a></li>
        <li><a href="{{url('moduloclientes_cliente_canchasClientes')}}">Canchas</a></li>
        <li><a href="{{url('moduloclientes_cliente_torneosClientes')}}">Torneos</a></li>
        <li><a href="{{url('moduloclientes_cliente_sesionesClientes')}}">Entrenamiento</a></li>
	</ul>
{% endblock %}                
{% block contenido %}
<div id="buscador">
    <form>
        <input type="search" name="reserva" placeholder="Buscar reserva"/>
    </form>
</div>
<h1>Listado de Reservas</h1>
{% for reserva in reservas %}
    <a href="{{url('moduloclientes_cliente_reservaClientes', {'matricula': reserva.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ reserva.matricula }} - {{ reserva.nombre }} </a>
{% endfor %}

{% endblock %}