{# empty Twig template #}
{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de entrenamiento {% endblock %}
               
{% block contenido %}
<div id="buscador">
    <form>
        <input type="search" name="sesion" placeholder="Buscar sesion"/>
    </form>
</div>
<h1>Listado de entrenamiento</h1>
{% for sesion in sesiones %}
    <a href="{{url('moduloclientes_cliente_sesionClientes', {'matricula': sesion.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ sesion.matricula }} - {{ sesion.nombre }} - {{ sesion.estado}} </a>
{% endfor %}

{% endblock %}