{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de Torneos {% endblock %}             
{% block contenido %}
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>Listado de mis Torneos</h3>
                </div>
                <label class="label label-default">En inscripción: </label>
                {% for torneo in torneos %}
                    {% if torneo.estadoTorneo == "Solicitud Presentada" %}
                        <a href="{{url('moduloclientes_cliente_torneoClientes', {'id': torneo.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a>
                    {%endif%}
                {% endfor %}
                <label class="label label-success">En curso: </label>
                {% for torneo in torneos %}
                    {% if torneo.estadoTorneo == "Validado" %}
                        <a href="{{url('moduloclientes_cliente_torneoClientes', {'id': torneo.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a>
                    {%endif%}
                {% endfor %}
                <label class="label label-danger">Finalizado: </label>
                {% for torneo in torneos %}
                    {%if torneo.estadoTorneo == "Finalizado" %}
                        <a href="{{url('moduloclientes_cliente_torneoClientes', {'id': torneo.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a>
                    {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}