{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de Torneos {% endblock %}             
{% block contenido %}
    <h1>Listado de mis Torneos</h1>
    <ul>
        <p>En inscripción: </p>
        {% for torneo in torneos %}
            {% if torneo.estado == "Inscripcion" %}
                <li><a href="{{url('moduloclientes_cliente_torneoClientes', {'matricula': torneo.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a></li>
                {%endif%}
            {% endfor %}
    </ul>
    <ul>
        <p>En curso: </p>
        {% for torneo in torneos %}
            {% if torneo.estado == "Disponible" %}
                <li><a href="{{url('moduloclientes_cliente_torneoClientes', {'matricula': torneo.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a></li>
                {%endif%}
            {% endfor %}
    </ul>
    <ul>
        <p>Finalizado: </p>
        {% for torneo in torneos %}
            {%if torneo.estado == "Finalizado" %}
                <li><a href="{{url('moduloclientes_cliente_torneoClientes', {'matricula': torneo.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}">{{ torneo.nombre }}</a></li>
                {%endif%}
            {% endfor %}
    </ul>
{% endblock %}