{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Cliente {{usuario.nombre}} {% endblock %}
{% block contenido %}
    <div class="container"><br><br>
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img src="{{ asset('images/' ~ usuario.imagen) }}" class="img-circle" style="width:60px;" />        
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h3>{{ usuario.username|capitalize }}</h3>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 18px;">
                            <a href = "{{path('moduloclientes_cliente_editarPerfil')}}" class="btn btn-default active">Editar</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body text-center">    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Nombre </h4> <p>{{usuario.nombre}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Fecha nacimiento </h4> <p>{{usuario.fNacimiento}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Telefono </h4> <p>{{usuario.telefono}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h4>Registro </h4> <p>{{usuario.registro|date('d/m/Y')}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>E-mail </h4> <p>{{usuario.email}}</p>
                    </div>

                    <div style="display: inline-grid">
                        <form class="btn-group-vertical" action="{{ path('moduloclientes_cliente_mensajearAdministradorCliente') }}" method="post">
                            <button type="submit" style="margin-bottom: 0" class="btn btn-primary">Mensaje a administrador</button>
                            <input type="hidden" class="btn">
                        </form>
                        <form class="btn-group-vertical" action="{{ path('crivero_prueba_nuevo') }}" method="post">
                            <input type="hidden" class="btn">
                            <button type="submit" style="margin-bottom: 0" class="btn btn-info">Ver mis pagos</button>
                            <input type="hidden" class="btn">
                        </form>
                        <form class="btn-group-vertical" action="{{ path('crivero_prueba_logout') }}" method="post">
                            <input type="hidden" class="btn">
                            <button type="submit" style="margin-bottom: 0" class="btn btn-danger">Salir de sesión</button>
                            <input type="hidden" class="btn">
                        </form>
                        <form class="btn-group-vertical" method="post">
                            <input type="hidden" class="btn">
                            <button type="submit" style="margin-bottom: 0" class="btn btn-danger">Borrar mi cuenta</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}