{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %}Rechazar sesión{% endblock %}
{% block contenido %}
    <div class="container centradoV">
        <h1 class="t1">Rechazar sesión</h1>

        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form'} }) }}
        

        

        <div class="form-group">
            {{ form_label(form.observaciones) }}
            {{ form_widget(form.observaciones, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Escriba los motivos del rechazo...'}, 'value': "" }) }}
            <span class="text-danger">{{ form_errors(form.observaciones) }}</span>
        </div>
        
        <div>
            {% if sesion.cliente == 'normal' %}
                {% set ruta = path("crivero_prueba_sesion", {id: sesion.id}) %}
            {% else %}
                {% set ruta = path("crivero_prueba_dedicadas", {id: sesion.id}) %}
            {% endif %}
            {{ form_widget(form.confirmar, {'label' : 'Confirmar', 'attr': {'class': 'btn btn-success'}}) }}
            <a href="{{ ruta }}" class="btn btn-danger">Anular</a>
        </div>                

        {{ form_end(form) }}
    </div>
{% endblock %}