{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Sesiones de {{ username }} {% endblock %}

{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Sesiones de {{ username }}</h1>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Sesion', 's.nombre') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Estado', 's.estado') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Monitor', 's.monitor') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Participantes', 's.nClientes') }}</th>
                        <td><strong>Acciones</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for sesion in pagination %}
                        <tr>
                            <td>{{sesion.nombre}}</td>
                            <td><strong>{{sesion.estado}}</strong></td>
                            <td>{{sesion.monitor}}</td>
                            <td>{{sesion.nClientes}}/{{sesion.lClientes}}</td>

                            <td class="actions">
                                <a href="{{ path('crivero_prueba_sesion', { id: sesion.id }) }}" class="btn btn-sm btn-info">
                                    Ver
                                </a>
                                <a href="{{path('crivero_prueba_horarios_sesion', {id: sesion.id})}}" class="btn btn-sm btn-primary">
                                    Ver horarios
                                </a>
                                {#<a href="{{path('crivero_prueba_cancelarSesion', {id: sesion.id})}}" class="btn btn-sm btn-danger btn-delete">
                                    Cancelar
                                </a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-success" href="{{ path('crivero_prueba_monitor', { id: mId }) }}">Volver atrás</a>
        <div class="navigation" style="float: right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}