{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} Notificaciones {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="page-header">
            <h1 class="t1">Notificaciones</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body myelement">
                {% if not pagination|length %}
                    <h2>No hay notificaciones</h2>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Mensaje', 'pagination.mensaje') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Enviado', 'pagination.fecha') }}</th>
                                    <th class="t3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notificacion in pagination %}
                                    <tr data-id="{{ notificacion.id }}">
                                        <td><strong>{{ notificacion.mensaje }}</strong></td>
                                        <td>{{ notificacion.fecha|date('d/m/Y H:i') }}</td>
                                        <td class="actions">
                                            {% if notificacion.concepto == "Publica"%}
                                                <form action="{{ path('modulomonitores_monitores_miSesionMonitores', {id: notificacion.idEntidad}) }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Privada"%}
                                                <form action="{{ path('modulomonitores_monitores_miSesionDedicada', {id: notificacion.idEntidad}) }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Mensaje"%}  
                                                <form action="{{ path('modulomonitores_monitores_mensajeMonitor', {id: notificacion.idEntidad}) }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Aula"%}  
                                                <form action="{{ path('modulomonitores_monitores_verAula', {id: notificacion.idEntidad}) }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Aeliminada"%}
                                                <form action="{{ path('modulomonitores_monitores_listadoAulas') }} " method="GET">
                                                    <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "AbandonoPublica"%}
                                                <form action="{{ path('modulomonitores_monitores_misSesionesMonitores') }} " method="GET">
                                                    <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "NuevoParticipantePublica"%}  
                                                <form action="{{'http://localhost/Prueba/web/app_dev.php/miSesionMonitores/'~notificacion.idEntidad~'/verParticipantes/'~notificacion.idOrigen}}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "NuevoParticipantePrivada"%}  
                                                <form action="{{path('modulomonitores_monitores_participantePrivado', {id: notificacion.idEntidad})}}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Cancha"%}
                                                <form action="{{ path('modulomonitores_monitores_cancha', {id: notificacion.idEntidad}) }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Celiminada"%}
                                                <form action="{{ path('modulomonitores_monitores_canchas') }} " method="GET">
                                                    <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Publicacion"%}
                                                <form action="{{ path('modulomonitores_monitores_homeMonitor') }} " method="GET">
                                                    <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form>
                                            {% elseif notificacion.concepto == "Usuario"%}
                                                <form action="{{ path('modulomonitores_monitores_miperfilm') }} " method="GET">
                                                    <input type="hidden" name="id" value="{{ notificacion.idEntidad }}">
                                                    <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 0">
                                                        Ver notificación
                                                    </button>
                                                </form> 
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="navigation text-center"  >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
