{% extends '::base.html.twig' %}
{% block title %} Vista desde main {% endblock %}

{% block header %}{% endblock %}

{% block navegation %}
        <nav class="navbar navbar-default" role="navigation">
            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logotipo</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse ">
                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Usuarios <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{url('crivero_prueba_clientes')}}">Clientes</a></li>
                              <li><a href="{{url('crivero_prueba_monitores')}}">Monitores</a></li>
                            </ul>
                     </li>
                    <li><a href="{{url('crivero_prueba_canchas')}}">Canchas</a></li>
                    <li><a href="{{url('crivero_prueba_reservas')}}">Reservas</a></li>
                    <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Competiciones <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{url('crivero_prueba_competiciones')}}">Competiciones </a></li>
                              <li><a href="{{url('crivero_prueba_equipos')}}">Equipos</a></li>
                              <li><a href="{{url('crivero_prueba_jugadores')}}">Jugadores</a></li>
                            </ul>
                     </li>
                     <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Sesiones <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{url('crivero_prueba_sesiones')}}">S.Generales</a></li>
                              <li><a href="{{url('crivero_prueba_dedicadas')}}">S.Dedicadas</a></li>
                            </ul>
                     </li>
                </ul>
                
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href = #>Perfil</a></li>
                        <li><a href="{{path('crivero_prueba_logout')}}">Logout</a></li>
                    </ul>
                {% endif %}

                <form class="navbar-form navbar-center" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre, cancha..." style="wi">
                    </div>
                    <button type="submit" class="btn btn-default" style="">Buscar</button>
                </form>
            </div>
        </nav>
{% endblock %}
{% block body %}
    <div id="pagina" class="cfix">
        <div id ="contenido">
            {% block contenido %}
            {% endblock %}
        </div>

    </div>

{% endblock %}