{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Canchas {% endblock %}

{% block contenido %}
    <div class="container">
        <h1 class="text-center">Canchas</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'c.tipo') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.disponibilidad') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Horario', 'c.horario') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Valoracion', 'c.valoracion') }}</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cancha in pagination %}
                        <tr>
                            <td>{{cancha.tipo}}</td>
                            <td><strong>{{cancha.disponibilidad}}</strong></td>
                            <td>{{cancha.horario}}</td>
                            <td>{{cancha.valoracion}}/5.0</td>
                            <td class="actions">
                                <a href="{{ path('crivero_prueba_cancha', { id: cancha.id }) }}" class="btn btn-sm btn-info">
                                    Ver
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    Editar
                                </a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %} 