{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} {{cliente.nombre}} {% endblock %}
{% block contenido %}
    <div class="usuardesc container">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>{{cliente.nombre}}</h3>
                </div>
                <div class="panel-body">
                    <div class="usuarfot">
                        <img src="{{ asset('images/no-image-found.png') }}" style="float: left; width: 120%;" />        
                    </div>
                    <div class="usuardat text-center">
                        <button type="button" class="btn btn-primary">Enviar mensaje</button>

                    </div>
                    <h4>F.Nacimiento: </h4> <p>{{cliente.fNacimiento}}</p>
                    <h4>Registro: </h4> <p>{{cliente.registro|date('d/m/Y H:i')}}</p>
                    <h4>Telefono: </h4> <p>{{cliente.telefono}}</p>

                    <div>
                        {% if cliente.reservas != null %}
                            <div>
                                <h4>Reservas: </h4> 
                                <ul id="reservas">
                                    {% for reserva in reservas %}
                                        <li>
                                            <div class="acciones">
                                                <button>Cancelar</button>
                                            </div>
                                            <p>{{reserva.cancha}} - {{reserva.fechaInicio|date('d/m/Y')}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if cliente.sesiones != null %}
                            <div>
                                <h4>Sesiones: </h4> 
                                <ul id="sesiones">
                                    {% set sesiones=cliente.sesiones|split('**') %}
                                    {% for i in 0..sesiones %}
                                        <li>
                                            <div class="acciones">
                                                <button>Cancelar</button>
                                            </div>
                                            <p>{{sesiones[i]}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div><br>
                    <div class="accionesExclus text-center">       
                        {{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form })}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}