{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Clientes {% endblock %}
{% block navegation %}        
        <ul>
		<li><a class="active" href="{{url('crivero_prueba_clientes')}}">Clientes</a></li>
		<li><a href="{{url('crivero_prueba_monitores')}}">Monitores</a></li>
		<li><a href="{{url('crivero_prueba_canchas')}}">Canchas</a></li>
		<li><a href="{{url('crivero_prueba_torneos')}}">Torneos</a></li>
		<li><a href="{{url('crivero_prueba_sesiones')}}">Sesiones</a></li>
	</ul>
{% endblock %}
{% block contenido %}
<div id="buscador">
    <form>
        <input type="search" name="cliente" placeholder="Buscar cliente"/>
    </form>
</div>
<h1>Listado de Clientes</h1>
{% for cliente in clientes %}
    <a href="{{url('crivero_prueba_cliente', {'matricula': cliente.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ cliente.matricula }} - {{ cliente.nombre }} </a>
{% endfor %}

{% endblock %}