{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} {{cliente.nombre}} {% endblock %}
{% block contenido %}
    <div class="usuardesc">
        <div class="accionesExclus">
            <button>Enviar mensaje</button>
            <p>{{ include('CriveroPruebaBundle:Default:forms/form.html.twig', { form: delete_form })}}</p>
        </div>
        <h1>{{cliente.nombre}}</h1>
        <div class="usuarfot">
            <img src="{{ asset('images/no-image-found.png') }}" style="float: left; width: 100%;" />        
        </div>
        <div class="usuardat">
            <div id="resersiones">
                {% if cliente.reservas|length > 0 %}
                <div>
                    <h4>Reservas: </h4> 
                    <ul id="reservas">
                            {% set reservas=cliente.reservas|split('**') %}
                            {% for i in 0..reservas %}
                        <li>
                            <div class="acciones">
                                <button>Modificar</button>
                                <button>Cancelar</button>
                            </div>
                            <p>{{reservas[i]}}</p>
                        </li>
                            {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if cliente.sesiones|length > 0 %}
                <div>
                    <h4>Sesiones: </h4> 
                    <ul id="sesiones">
                        {% set sesiones=cliente.sesiones|split('**') %}
                            {% for i in 0..sesiones %}
                        <li>
                            <div class="acciones">
                                <button>Modificar</button>
                                <button>Cancelar</button>
                            </div>
                            <p>{{sesiones[i]}}</p>
                        </li>
                            {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <h4>F.Nacimiento: </h4> <p>{{cliente.fNacimiento}}</p>
            <h4>Registro: </h4> <p>{{cliente.registro|date('d/m/Y H:i')}}</p>
            <h4>Telefono: </h4> <p>{{cliente.telefono}}</p>
        </div>
    </div>
    </div>
{% endblock %}