{# empty Twig template #}
{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Monitores {% endblock %}
{% block navegation %}        
        <ul>
		<li><a href="{{url('crivero_prueba_clientes')}}">Clientes</a></li>
		<li><a class="active" href="{{url('crivero_prueba_monitores')}}">Monitores</a></li>
		<li><a href="{{url('crivero_prueba_canchas')}}">Canchas</a></li>
		<li><a href="{{url('crivero_prueba_torneos')}}">Torneos</a></li>
	</ul>
{% endblock %}
{% block contenido %}
<div id="buscador">
    <form>
        <input type="search" name="monitor" placeholder="Buscar monitor"/>
    </form>
</div>
<h1>Listado de Monitores</h1>
{% for monitor in monitores %}
    <a href="{{url('crivero_prueba_monitor', {'matricula': monitor.matricula})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ monitor.matricula }} - {{ monitor.nombre }} </a>
{% endfor %}

{% endblock %}