{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Sesiones {% endblock %}

{% block contenido %}

    <h1>Listado de Sesiones</h1>
    {% for sesion in sesiones %}
        {%    set nombre = sesion.nombre %}
        {% if sesion.cliente!=null %}
        {%    set nombre = sesion.cliente %}
        {% endif %}
        <a href="{{url('crivero_prueba_sesion', {'id': sesion.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> Sesion {{sesion.id}}:  {{nombre}} - {{ sesion.estado }}</a>
    {% endfor %}

{% endblock %}