{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Sesiones Generales {% endblock %}

{% block contenido %}
    <div class="container">
        <h2 class="text-center">Sesiones Generales</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombre', 's.nombre') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Estado', 's.estado') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Monitor', 's.monitor') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Participantes', 's.nClientes') }}</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sesion in pagination %}
                        <tr>
                            <td>{{sesion.nombre}}</td>
                            <td>{{sesion.estado}}</td>
                            <td>{{sesion.monitor}}</td>
                            <td>{{sesion.nClientes}}/{{sesion.lClientes}}</td>

                            <td class="actions">
                                <a href="{{ path('crivero_prueba_sesion', { id: sesion.id }) }}" class="btn btn-sm btn-info">
                                    Ver
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    Editar
                                </a>
                                <a href="#" class="btn btn-sm btn-danger btn-delete">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}