{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} {{ aula.nombre|capitalize }} - Disponibilidad {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <div class="page-header "> 
            <h2 class="t1">{{ aula.nombre|capitalize }} - Horarios disponibles de los próximos 7 días</h2>
        </div><br>
        <div class="panel panel-default">                  
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table {#table-condensed#}">
                        <tbody>
                            {% for horario in horarios  %}
                                <tr>
                                    <td style="padding-top: 14px;padding-bottom: 14px"><strong>Día {{ (horario.fechaInicio < 10) ? '0'~horario.fechaInicio : horario.fechaInicio }}</strong></td>
                                    {% for horitas in horario.periodo|split('&')  %}
                                        <td style="padding-top: 14px;padding-bottom: 14px;">{{ horitas }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a class="btn btn-default" href="{{ path('modulomonitores_monitores_verAula', { id: aula.id }) }}">Volver atrás</a>
    </div>
{% endblock %} 


