{% extends 'modulomonitoresmonitoresBundle::main.html.twig' %}
{% block title %} {{aula.nombre}} {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <div class="page-header">
            <h1 class="t1">{{aula.nombre}}</h1>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-0">
            <div class="panel panel-default">                  
                <div class="panel-body">
                    <img src="{{ asset('images/' ~ aula.imagen) }}" class="img-responsive center-block" style="width:305px"/>
                </div>
            </div>
            {% if aula.disponibilidad == "Disponible" %}
                <button style="width:300px;" class="btn btn-success active" >{{aula.disponibilidad}}</button>
            {% else %}
                <button style="width:300px;" class="btn btn-danger active">{{aula.disponibilidad}}</button>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-0">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <div class="col-md-6 col-xs-12">
                        <div class="text-center">
                            <h4>Disponibilidad </h4><p>{{ aula.horario }}</p>
                            <h4>Descripción</h4><p>{{ aula.descripcion }}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h4>Dimensiones </h4><p>{{aula.dimensiones ~ ' m²'}} </p>
                    </div>

                    <div style="display: inline-grid; margin-top: 16px">
                        {% if aula.disponibilidad == 'Disponible'%}
                            <form class="btn-group-vertical" action="{{ path('modulomonitores_monitores_disponibilidadM', { id: aula.id }) }}" method="post" class="alinear btn-group">
                                <button type="submit" style="margin-bottom: 1px; margin-top: -10px" class="btn btn-primary">Disponibilidad</button>
                                <input type="hidden" class="btn">
                            </form>
                        {% else %}
                            <button disabled="disabled" type="submit" style="margin-bottom: 1px" class="btn btn-primary">Disponibilidad</button>
                        {% endif %}
                        {% if aula.sesiones != null %}
                            <form class="btn-group-vertical" action="{{ path('modulomonitores_monitores_sesionesAula', { id: aula.id }) }}" method="post" class="alinear btn-group">
                                <button type="submit" style="margin-bottom: 1px" class="btn btn-info">Ver sesiones</button>
                                <input type="hidden" class="btn">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <a class="btn btn-default" href="{{ path('modulomonitores_monitores_listadoAulas', { id: aula.id }) }}">Volver atrás</a>
        </div>
    </div>
{% endblock %}